<app-pop-up (editMode)="editMode.emit(false)">
  <form [formGroup]="resetForm" id="userEdit" class="userEdit">
    <div class="formElement">
      <label class="pageCategory required" for="username">Username:</label>
      <input 
        formControlName="username"
        type="email"
        id="username"
        required
        [attr.aria-invalid]="!resetForm.controls.username.valid"
        aria-required="true">
    </div>
  
    <button
      type="submit"
      class="appButton updateItem"
      (click)="resetPassword($event)"
      [attr.aria-label]="'get password reset link for user ' + resetForm.controls.username.value">
        Get Password Reset Link
    </button>
  </form>
</app-pop-up>
