<!-- If the user is deleting something -->
<div *ngIf="toDelete != 'ad post'" id="deleteItem" class="deleteItem">
  <div class="popupText">Are you sure you want to delete this item?</div>
  <div class="popupText warning">This action is irreversible!</div>

  <div class="buttons">
    <button class="appButton popupDeleteBtn" (click)="deleteItem()">Yes, Delete</button>
    <button class="appButton popupDeleteBtn" (click)="editMode.emit(false)">Never Mind</button>
  </div>
</div>

<!-- If the user is deleting something from admin menu -->
<div *ngIf="toDelete == 'ad post'" id="adDeleteItem" class="deleteItem">
  <div class="popupText">Are you sure you want to delete this item?</div>
  <div class="popupText warning">This action is irreversible!</div>

  <div class="buttons">
    <button class="appButton deleteButton popupDeleteBtn" (click)="deletePost(true)">Delete and Close Report</button>
    <button class="appButton deleteButton popupDeleteBtn" (click)="deletePost(false)">Delete without Closing Report</button>
    <button class="appButton popupDeleteBtn" (click)="editMode.emit(false)">Never Mind</button>
  </div>
</div>
