<div *ngIf="authService.canUser('read:admin-board')" id="adminDashAll">
  <nav id="breadcrumb" aria-label="Breadcrumb">
    <a class="breadcrumb bLink" [routerLink]="['/admin']">Admin Panel</a>
    <span *ngIf="screen() !== 'main'" class="breadcrumb"
      >/ <a class="breadcrumb bLink" [routerLink]="['/admin/' + screen]">{{ screen() }}</a></span
    >
  </nav>

  <!-- Admin dashboard navigation menu -->
  <nav id="adminNav" role="navigation">
    <a
      class="appButton adminNavItem"
      aria-label="navigate to admin dashboard main page"
      [routerLink]="['/admin']"
      >Main</a
    >
    <a
      class="appButton adminNavItem"
      aria-label="navigate to admin dashboard reports page"
      [routerLink]="['/admin', 'reports']"
      >Reports</a
    >
    <a
      class="appButton adminNavItem"
      aria-label="navigate to admin dashboard blocks page"
      [routerLink]="['/admin', 'blocks']"
      >Blocks</a
    >
    <a
      class="appButton adminNavItem"
      aria-label="navigate to admin dashboard filters page"
      [routerLink]="['/admin', 'filters']"
      >Filters</a
    >
  </nav>

  <!-- Admin dashboard main page -->
  <h1 *ngIf="screen() === 'main'" class="adminTitle">Admin Dashboard</h1>
  <div *ngIf="screen() === 'main'" class="adminScreen" id="adminMain" role="document">
    <div class="adminText">Welcome to the admin dashboard!</div>
    <div class="adminText">The admin dashboard is comprised of three parts:</div>
    <ul id="adminCategories">
      <li *ngFor="let category of adminCategories" class="adminCategory">
        <span class="pageCategory">{{ category.title }}:</span>
        <span class="pageText">{{ category.explanation }}</span>
      </li>
    </ul>
  </div>

  <!-- Admin dashboard reports -->
  <h1 *ngIf="screen() === 'reports'" class="adminTitle">Reports</h1>
  <app-admin-reports *ngIf="screen() === 'reports'"></app-admin-reports>

  <!-- Admin dashboard blocks -->
  <h1 *ngIf="screen() === 'blocks'" class="adminTitle">Blocks</h1>
  <app-admin-blocks *ngIf="screen() === 'blocks'"></app-admin-blocks>

  <!-- Admin dashboard filters -->
  <h1 *ngIf="screen() === 'filters'" class="adminTitle">Filters</h1>
  <app-admin-filters *ngIf="screen() === 'filters'"></app-admin-filters>

  <!-- Labels for screen readers -->
  <div id="labels" class="labels" aria-hidden="true">
    <p id="rUserID">Reported user's I.D</p>
    <p id="rUserDisplay">Reported user's display name</p>
    <p id="rUserBy">Reported by</p>
    <p id="rUserFor">Reported for</p>
    <p id="pPostID">Reported post's I.D</p>
    <p id="pUserID">Reported post's user I.D</p>
    <p id="pText">Reported post's text</p>
    <p id="pUserBy">Reported by</p>
    <p id="pUserFor">Reported for</p>
    <p id="bUserID">Blocked user's I.D</p>
    <p id="bUserDisplay">Blocked user's display name</p>
    <p id="bUntil">Blocked until</p>
    <p id="filteredP">Filtered phrase</p>
  </div>
</div>

<div *ngIf="!authService.canUser('read:admin-board')">
  <div class="errorMessage">You do not have permission to view thie page!</div>
  <a class="appButton" [routerLink]="">Back to homepage</a>
</div>
