/* Via https://www.w3schools.com/howto/howto_css_loader.asp */
/* Loader */
#loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 80%;
  margin: 10%;
}
