version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    groups:
      angular-dependencies:
        patterns:
          - "@angular/*"
      font-awesome:
        patterns:
          - "@fortawesome/fontawesome-*"
          - "@fortawesome/free-*"
    rebase-strategy: auto
    commit-message:
      prefix: "deps:"

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    commit-message:
      prefix: "deps:"
