/* Colour Palette */
$mainColour: rgba(112,163,209,1.00)
$secondaryColour: rgba(163,202,215,1.00)
$headlineColour: rgba(37,37,37,1.00)
$textColour: rgba(22,22,22,1.00)
$linkColour: rgba(63,58,58,1.00)

/* Component Sample */
#compSample
	position: relative
	top: 110px

/* Frame Sample */
#frameSample
	border: thin solid rgba(37,37,37,1.00)
	border-radius: 5px

/* =================== General Styling =================== */
img, picture, video, embed, textarea, textfield
	max-width: 100%

/* =================== Header Styling =================== */
/* Site Header */
#siteHeader
	width: 100%
	max-width: 100%
	background-color: $secondaryColour
	position: fixed
	top: 0
	left: 0
	height: 110px

/* Main Title */
#mainTitle
	color: $headlineColour
	text-align: center
	padding: 10px 5px 0
	margin: 10px 5px

/* Navigation Menu */
#navMenu
	width: 80%
	max-width: 80%
	padding: 5px 10% 10px
	display: flex
	align-content: space-between
	justify-content: space-between

/* Navigation Item */
.navLink
	color: $linkColour
	font-size: 18px

/* =================== Main Page Styling =================== */
/* Main Page Component */
app-main-page
	@extend #compSample
	display: flex
	padding: 5px
	align-content: space-between
	justify-content: space-between

/* Item list container */
.listContainer
	width: 45%
	height: 70%
	margin: 5px 10px

/* Item List Title */
.listTitle
	color: $headlineColour
	font-size: 20px
	text-align: center

/* Item List */
.itemList
	@extend #frameSample
	height: 90%

/* =================== User Page Styling =================== */
/* User Page Component */
app-user-page
	@extend #compSample
	width: 80%

/* User / Error Message Container */
app-user-page > div
	@extend #frameSample
	padding: 10px

/* =================== Messages Page Styling =================== */
/* Message Page Component */
app-messages
	@extend #compSample
	width: 80%

/* Inbox / Error Message Container */
app-messages > div
	@extend #frameSample
	padding: 10px

/* Error Message Text */
.errorMessage
	text-align: center

/* Login Link */
#logIn
	text-align: center
	color: $linkColour

/* =================== New Item Page Styling =================== */
/* New Item Page Component */
app-new-item
	@extend #compSample

/* =================== Error Page Styling =================== */
/* Error Page Component */
app-error-page
	@extend #compSample

/* =================== Footer Styling =================== */
/* Site Footer */
#siteFooter
	position: fixed
	bottom: 0
	left: 0
	width: 100%
	max-width: 100%

/* Footer text */
.footerText
	text-align: center
	font-size: 14px
	padding: 0
	margin: 10px
	color: rgba(22,22,22,1.00)