/* Colour Palette */
$mainBackground: #F2F2F2
$boxesBackground: #E2E2E2
$itemBackground: #FFFFFF
$buttonBackground: linear-gradient(90deg, rgba(227,49,123,1) 40%, rgba(250,81,108,1) 100%)
$headlineColour: #1F1F1F
$textColour: #000000
$linkColour: #404040

/* Fonts */
$mainFont: 'Montserrat', sans-serif

/* Component Sample */
#compSample
	z-index: 1
	position: absolute
	overflow-y: scroll
	overflow-x: hidden
	/* Responsive styling for screens up to 650px width */
	@media screen and (max-width: 650px)
		top: 105px
		bottom: 80px
	/* Responsive styling for screens above 650px width */
	@media screen and (min-width: 650px)
		bottom: 90px
		top: 120px

/* Frame Sample */
#frameSample
	border: thin solid rgba(37,37,37,1.00)
	border-radius: 5px
	overflow-y: scroll

/* Item (message/post) Sample */
#itemSample
	border: thin solid #FFFFFF
	border-radius: 10px
	box-shadow: 3px 3px 7px 0 rgba(46, 61, 73, 0.5)

/* Error message sample */
#errorMessBox
	padding: 10px
	width: 80%
	margin: 5px Calc((20% - 20px) / 2)

/* =================== General Styling =================== */
img, picture, video, embed, textarea, textfield
	max-width: 100%

body
	overflow-x: hidden
	background: $mainBackground

/* App button */
.appButton
	background-color: $itemBackground
	color: $textColour
	padding: 5px

/* Pagination area */
.pagination
	display: flex
	align-content: space-between
	justify-content: space-between

/* Page count */
.pageCount
	padding: 5px
	margin: 0
	font-weight: bold

/* Hidden items */
.hidden
	display: none

/* Notification block */
.notification
	padding: 15px 26px
	position: relative
	display: inline-block

/* Notification badge */
.badge
	position: absolute
	top: -5px
	right: -5px
	padding: 3px 8px
	border-radius: 50%
	background: $boxesBackground
	color: $headlineColour
	font-size: 14px

/* Skip link */
.skip-link
	position: absolute
	left: -400px

/* Skip link when focused */
.skip-link:focus
	left: 0
	top: 0

/* ARIA labels */
.labels
	position: absolute
	right: -300px
	display: none

/* =================== Header Styling =================== */
/* Site Header */
#siteHeader
	width: 94%
	max-width: 94%
	background-color: $mainBackground
	margin: 0 3%
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: 100

#noInternet
	left: 0
	right: 0
	width: 90%
	height: 15px
	max-height: 15px
	box-shadow: 5px 5px 5px 0 rgba(46, 61, 73, 0.5)
	border-radius: 5px
	text-align: center
	padding: 5px
	display: flex
	align-content: center
	justify-content: center
	background-color: #EAEAEA
	margin: 0 5%
	color: $headlineColour
	font-family: $mainFont
	font-size: 16px

/* Site logo */
#siteLogo
	margin: 0 10px 0 0
	padding: 0 10px 0 0
	height: 100px
	width: 100px
	/* Responsive styling for screens above 600px width */
	@media screen and (min-width: 600px)
		height: 75px
		width: 75px
	/* Responsive styling for screens above 750px width */
	@media screen and (min-width: 750px)
		height: 90px
		width: 90px
		margin: 0 15px 0 0
	/* Responsive styling for screens above 800px width */
	@media screen and (min-width: 800px)
		padding: 0 15px 0 0
		height: 100px
		width: 100px

/* Navigation Menu */
#navMenu
	width: 100%
	max-width: 100%
	left: 0
	top: 0
	display: flex
	align-items: center
	justify-content: space-between
	border-bottom: thin solid #cfcfcf
	/* Responsive styling for screens up to 400px width */
	@media screen and (max-width: 400px)
		padding: 0
	/* Responsive styling for screens above 400px width */
	@media screen and (min-width: 400px)
		width: 90%
		max-width: 90%
		margin: 0 5%
	/* Responsive styling for screens above 600px width */
	@media screen and (min-width: 600px)
		width: 100%
		max-width: 100%
		margin: 0
		padding: 10px 0 0

/* Menu button */
#menuBtn
	/* Responsive styling for screens up to 600px width */
	@media screen and (max-width: 600px)
		display: block
		background: $mainBackground
	/* Responsive styling for screens above 500px width */
	@media screen and (min-width: 600px)
		display: none

/* Menu button icon */
.fa-bars
	font-size: 24px
	text-align: center

/* Navigation menu - inner */
#navLinks
	display: flex
	/* Responsive styling for screens up to 600px width */
	@media screen and (max-width: 600px)
		flex-direction: column
		width: 75%
		overflow-y: visible
		position: absolute
		left: -10px
		top: 0
		z-index: 100
		background: $boxesBackground
		align-items: center
		justify-content: center
		padding: 10px
	/* Responsive styling for screens above 600px width */
	@media screen and (min-width: 600px)
		flex-direction: row
		width: 100%
		background: $mainBackground
		align-items: center
		justify-content: space-between
		padding: 10px

/* Navigation Item */
.navLink
	color: $linkColour
	display: block
	text-align: center
	border: none
	padding: 0 15px
	text-decoration: none
	/* Responsive styling for screens up to 600px width */
	@media screen and (max-width: 600px)
		padding: 10px 15px
		background: $boxesBackground
	/* Responsive styling for screens above 600px width */
	@media screen and (min-width: 600px)
		background: $mainBackground
		padding: 0 10px
	/* Responsive styling for screens above 800px width */
	@media screen and (min-width: 800px)
		padding: 0 15px

/* Navigation Item (hover) */
.navLink :hover
	color: #f26363

/* Navigation item icon */
.navIcon
	font-size: 30px
	text-align: center
	/* Responsive styling for screens above 600px width */
	@media screen and (min-width: 600px)
		font-size: 26px
	/* Responsive styling for screens above 650px width */
	@media screen and (min-width: 650px)
		font-size: 28px
	/* Responsive styling for screens above 800px width */
	@media screen and (min-width: 800px)
		font-size: 30px

/* Navigation item text */
.navLinkText
	font-size: 13px
	padding-top: 5px
	font-family: $mainFont
	/* Responsive styling for screens above 650px width */
	@media screen and (min-width: 650px)
		font-size: 14px

/* Navigation buttons (notifications / search) */
.navButton
	font-size: 24px
	text-align: center
	/* Responsive styling for screens up to 600px width */
	@media screen and (max-width: 600px)
		padding: 10px 15px
		background: $boxesBackground
		margin: 0
	/* Responsive styling for screens above 600px width */
	@media screen and (min-width: 600px)
		background: $mainBackground
		font-size: 20px
	/* Responsive styling for screens above 650px width */
	@media screen and (min-width: 650px)
		margin: 0 5px
		font-size: 23px
	/* Responsive styling for screens above 800px width */
	@media screen and (min-width: 800px)
		font-size: 24px

/* Notifications button */
.newNotification
	padding: 5px
	position: relative
	display: inline-block
	background-color: $boxesBackground
	/* Responsive styling for screens up to 600px width */
	@media screen and (max-width: 600px)
		margin-top: 20px
	/* Responsive styling for screens above 600px width */
	@media screen and (min-width: 600px)
		margin-left: 10px
		background: $mainBackground
		padding: 6px
	/* Responsive styling for screens above 750px width */
	@media screen and (min-width: 750px)
		padding: 3px
		margin-left: 5px

/* Notifications button icon */
#navNotific
	/* Responsive styling for screens up to 600px width */
	@media screen and (max-width: 600px)
		padding: 2px

.newNotification .badge
	background: #cfcfcf
	font-family: $mainFont

/* Search form */
#search
	display: flex
	justify-content: center
	align-content: center
	width: 60%
	max-width: 60%
	margin: 10px 20% 5px
	left: 0
	right: 0

/* Search label */
#searchLabel
	order: 1
	left: 0
	margin: 0
	align-self: center
	font-family: $mainFont

/* Search field */
#searchQuery
	order: 2
	padding: 0
	margin: 0 10px
	height: 20px
	align-self: center

/* Search button */
#search .sendData
	order: 3
	margin: 0
	align-self: center
	font-family: $mainFont

/* =================== Main Page Styling =================== */
/* Main Page Component */
app-main-page
	@extend #compSample
	display: flex
	flex-direction: column
	padding: 5px
	left: 0
	right: 0
	align-content: space-between
	justify-content: space-between
	/* Responsive styling for screens above 600px width */
	@media screen and (min-width: 600px)
		flex-direction: row
		justify-content: space-evenly

/* Item list container */
.listContainer
	width: 90%
	margin: 0 5%
	/* Responsive styling for screens above 400px width */
	@media screen and (min-width: 400px)
		width: 80%
		margin: 0 10%
	/* Responsive styling for screens above 500px width */
	@media screen and (min-width: 500px)
		width: 74%
		margin: 0 13%
	/* Responsive styling for screens above 600px width */
	@media screen and (min-width: 600px)
		width: 45%
		height: 85%
		margin: 0 10px

/* Suggested items list container */
#suggestedItems
	/* Responsive styling for screens up to 600px width */
	@media screen and (max-width: 600px)
		margin-top: 20px

/* Item List Title */
.listTitle
	color: $headlineColour
	font-family: $mainFont
	font-size: 24px
	text-align: center
	padding-top: 5px
	margin-top: 5px
	/* Responsive styling for screens above 500px width */
	@media screen and (min-width: 500px)
		font-size: 26px

/* Item List */
.itemList
	padding-left: 0

/* New & Suggested Item */
.newItem, .sugItem
	@extend #itemSample
	border-color: #FFFFFF
	box-shadow: 3px 3px 7px 0 rgba(46, 61, 73, 0.5)
	margin: 20px 5px
	padding: 5px
	background: #FFFFFF
	display: flex
	flex-wrap: wrap
	/* Responsive styling for screens above 800px width */
	@media screen and (min-width: 800px)
		padding: 7px

/* Item Text */
.itemText
	order: 0
	text-align: center
	font-family: $mainFont
	font-size: 17.5px
	width: 80%
	margin: 5px
	padding: 0 10%
	/* Responsive styling for screens above 500px width */
	@media screen and (min-width: 500px)
		font-size: 18.5px

/* Item User */
.itemUser
	order: 1
	text-align: center
	font-family: $mainFont
	font-size: 15.5px
	width: 80%
	margin: 5px
	padding: 0 10%
	/* Responsive styling for screens above 500px width */
	@media screen and (min-width: 500px)
		font-size: 16.5px

/* Item User Profile Link */
.profileLink
	color: $linkColour
	text-decoration: none
	font-weight: bold

/* Buttons div */
.buttonsContainer
	order: 2
	display: flex
	align-content: space-between
	justify-content: space-between
	width: 100%

/* Send a hug button container */
.notification
	margin: 5px auto
	padding: 6px

/* Send Hug Button */
.hugButton
	width: 33px
	border: none
	padding: 5px

/* Report, Send Message, Edit, Delete Buttons */
.reportButton, .messageButton, .editButton, .deleteButton
	border: none
	margin: 10px auto
	padding: 5px

/* Button icons */
.fa-gratipay, .fa-comment, .fa-flag, .fa-edit, .fa-times
	font-size: 22px
	/* Responsive styling for screens above 400px width */
	@media screen and (min-width: 400px)
		font-size: 24px
	/* Responsive styling for screens above 500px width */
	@media screen and (min-width: 500px)
		font-size: 25px

/* Main page error message */
app-main-page .errorMessage
	font-family: $mainFont
	margin: 10px

/* View full list button */
.fullButton
	font-family: $mainFont
	background: $mainBackground
	padding-bottom: 10px
	/* Responsive styling for screens up to 400px width */
	@media screen and (max-width: 400px)
		margin: 0 Calc((100% - 120px) / 2)
	/* Responsive styling for screens above 400px width */
	@media screen and (min-width: 400px)
		font-size: 18px
		margin: 0 Calc((100% - 130px) / 2)
	/* Responsive styling for screens above 600px width */
	@media screen and (min-width: 600px)
		margin: 0 Calc((100% - 140px) / 2)

/* =================== Full List Styling =================== */
/* List container*/
#items
	@extend #compSample
	width: 60%
	margin: 0
	padding: 0 20%
	left: 0
	right: 0

/* Full items list */
#fullItems
	border: thin solid rgba(37,37,37,1.00)
	border-radius: 5px
	padding: 5px

/* =================== User Page Styling =================== */
/* User Page Component */
app-user-page
	@extend #compSample
	width: 100%
	left: 0
	right: 0

/* User / Error Message Container */
app-user-page > div
	@extend #frameSample
	width: 90%
	max-width: 90%
	margin: 10px 5%

/* User Page Title */
app-user-page h3
	font-family: $mainFont
	text-align: center
	margin-top: 5px
	padding-top: 5px

/* User Page */
#userPage
	display: flex
	flex-wrap: wrap
	align-content: space-between
	justify-content: space-between
	padding: 0 3%

/* User Profile */
#profileData
	order: 0
	width: 40%

/* User Page Field Container */
.profileElement
	padding: 10px 0

/* User Page Field Title */
.pageCategory
	font-family: $mainFont
	font-size: 16px
	font-weight: bold
	margin: 0 5px
	color: $headlineColour

/* User Page Field Text */
.pageData
	font-family: $mainFont
	font-size: 16px
	color: $textColour

/* edit display name button */
#editName
	font-family: $mainFont
	margin: 20px 20%

/* User Posts */
app-my-posts
	order: 2
	width: 55%
	align-self: flex-start

/* User Post */
.userPost
	@extend #frameSample
	padding: 5px
	margin: 5px

/* Post text */
.postText
	font-family: $mainFont
	text-align: center
	font-size: 18px

/* Post date */
.postDate
	font-family: $mainFont
	text-align: center
	font-size: 14px

/* Post buttons */
.userPost .editButton, .userPost .deleteButton
	margin: 10px Calc((100% - 140px) / 6)

/* Notification block in user's posts */
.userPost .notification
	margin: 10px Calc((100% - 140px) / 6) 0

/* Page count in user's posts */
app-my-posts .pageCount
	font-family: $mainFont
	text-align: center

/* Logout button */
#logout
	font-family: $mainFont
	order: 3
	margin: 10px 40%

/* Login div */
#loginBox
	@extend #errorMessBox
	font-family: $mainFont
	padding: 10px 15px
	margin: 5px Calc((20% - 30px) / 2)

/* =================== Messages Page Styling =================== */
/* Message Page Component */
app-messages
	@extend #compSample
	width: 100%
	left: 0
	right: 0

/* Page Headline */
app-messages > h3
	text-align: center
	font-family: $mainFont
	color: $headlineColour
	font-size: 20px

/* Inbox / Error Message Container */
app-messages > div
	@extend #frameSample
	width: 90%
	margin: 10px 5%

/* Mailbox navigation */
#messagesNav
	width: 48%
	margin: 5px
	padding: 5px 20% 5px 30%
	left: 0
	right: 0
	border-bottom: thin solid

/* Mailbox navigation button */
.messNavOption
	font-family: $mainFont
	margin: 5px 10px

/* A Message */
.userMessage
	width: 90%
	border-bottom: thin solid
	margin: 0 5%

/* From field */
.messageField
	font-family: $mainFont
	text-align: center
	padding: 5px
	margin: 5px

/* Field title */
.pageCategory
	text-align: center
	font-family: $mainFont
	color: $headlineColour

/* Field text */
.pageData
	text-align: center
	font-family: $mainFont
	color: $textColour

/* Message buttons */
.userMessage .buttons
	display: flex
	justify-content: center
	margin: 5px
	padding: 5px

/* Delete Message button */
.userMessage .deleteButton
	margin: 5px 5px
	font-family: $mainFont

/* Reply button */
.userMessage .messageButton
	margin: 5px 5px
	font-family: $mainFont

/* Inbox / Outbox / Threads / single thread container */
.userThreads, .threadMessages, .mailboxMessages
	@extend .itemList
	border: none
	list-style: none

/* A message thread */
.userThread
	margin: 8px
	padding: 5px
	display: flex
	flex-direction: column
	border-bottom: thin solid

/* Message thread buttons */
.threadBtns
	display: flex
	justify-content: center
	margin: 5px
	padding: 5px

/* View thread button */
.viewButton
	font-family: $mainFont
	margin: 5px 5px
	padding: 0 5px

/* Delete thread button */
.userThread .deleteButton
	font-family: $mainFont
	margin: 5px 5px

/* Login div */
#loginBox
	@extend #errorMessBox

/* Error Message Text */
.errorMessage
	text-align: center
	padding-bottom: 5px
	padding-top: 10px
	font-family: $mainFont

/* Login Link */
#logIn
	text-align: center
	margin: 10px Calc((100% - 50px) / 2)
	color: $linkColour
	font-family: $mainFont

/* =================== New Item Page Styling =================== */
/* New Item Page Component */
app-new-item
	@extend #compSample
	width: 100%
	left: 0
	right: 0

/* New Item frame */
#newItem
	width: 90%
	margin: 10px 5%

/* New Item title */
#newItem h3
	text-align: center
	color: $headlineColour
	font-family: $mainFont
	font-size: 20px
	padding: 10px
	margin: 0

/* New Item field + title */
.formElement
	text-align: center
	font-family: $mainFont
	color: $textColour
	padding: 7px 2px
	width: 100%

/* New Item field button */
.sendData
	padding: 5px
	margin: 10px Calc((100% - 28px) / 2)
	font-family: $mainFont
	font-size: 14px

/* =================== Error Page Styling =================== */
/* Error Page Component */
app-error-page
	@extend #compSample

/* Error Page frame */
#errorPage
	@extend #frameSample
	width: 80%
	margin: 15px 10%

/* Error Page title */
#errorPage h3
	text-align: center
	font-family: $mainFont
	color: $headlineColour
	font-size: 20px
	padding: 10px
	margin: 0

/* Error Page text */
.pageData
	text-align: center
	font-family: $mainFont
	color: $textColour
	font-size: 16px
	padding: 10px 2px

/* Error Page error code */
#errorCode
	text-align: center
	font-family: $mainFont
	color: $textColour
	font-size: 13px
	padding: 10px 2px

/* Go Back Button */
#backBtn
	padding: 2px
	margin: 7px Calc((100% - 20px) / 2)

/* Arrow in Go Back Button */
.fa-arrow-alt-circle-left
	font-size: 18px

/* =================== Popup Styling =================== */
/* Modal box */
#modalBox
	display: block
	height: 100%
	width: 100%
	background-color: rgba(0,0,0,0.60)
	position: fixed
	left: 0
	top: 0

/* Edit popup */
#editPopup
	background-color: #FFFFFF
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5)
	border-radius: 5px
	width: 70%
	text-align: center
	margin-left: auto
	margin-right: auto
	margin-top: 100px
	padding: 10px
	position: fixed
	top: 100px
	left: 15%

/* Exit button */
#exitButton
	margin: 5px Calc(100% - 35px) 5px 2px
	font-family: $mainFont

/* =================== Loader Component Styling =================== */
/* Via https://www.w3schools.com/howto/howto_css_loader.asp */
/* Loader */
#loading 
	position: relative
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	height: 80%
	width: 80%
	margin: 10%

/* Loader text */
#loading #loadingMessage
	font-family: $mainFont
	color: $headlineColour
	font-size: 18px

/* Loader spinner */
#loading .spinner 
	height: 100px
	width: 100px
	animation: spin 2s linear infinite
	transform-origin: center center
	position: relative
	margin: 20%
	border: 3px solid #f3f3f3 /* Light grey */
	border-top: 3px solid #3498db /* Blue */
	border-radius: 50%

/* Loader spinner rotate animation */
@keyframes spin
	0% 
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)

/* =================== Header Message Component Styling =================== */
/* Via https://www.w3schools.com/howto/howto_css_loader.asp */
/*  Header Message component */
app-header-message
	position: absolute
	top: 0
	left: 0
	right: 0
	width: 90%
	margin: 0 3% 0 7%
	text-align: center
	z-index: 200
	height: 20px

/*  Header Message div */
app-header-message #headerMessage
	left: 0
	right: 0
	width: 90%
	height: 20px
	max-height: 20px
	box-shadow: 5px 5px 5px 0 rgba(46, 61, 73, 0.5)
	border-radius: 5px
	text-align: center
	padding: 10px
	display: flex
	align-content: center
	justify-content: center
	background-color: #EAEAEA
	margin: 0 5%

/*  Header Message message */
#headerMessage #loadingMessage
	color: $headlineColour
	font-family: $mainFont
	font-size: 16px
	margin: 0
	padding: 0

/*  Header Message spinner */
#headerMessage .spinner
	border: 3px solid #f3f3f3 /* Light grey */
	border-top: 3px solid #3498db /* Blue */
	border-radius: 50%
	width: 15px
	height: 15px
	animation: spin 2s linear infinite
	margin: 0 20px

/*  Header Message spinner rotate animation */
@keyframes spin
	0% 
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)

/* =================== About Component Styling =================== */
/* About Component */
app-about
	@extend #compSample
	width: 90%
	padding: 0 5%
	left: 0
	right: 0

/* About component title */
#aboutTitle
	text-align: center
	color: $headlineColour
	font-family: $mainFont

/* About component text */
.aboutText
	padding: 5px
	margin: 5px 10px
	font-family: $mainFont
	color: $textColour
	font-size: 18px

/* About component links */
.aboutLink
	text-align: center
	font-family: $mainFont
	color: $linkColour
	font-size: 17px
	margin: 10px 40%

/* =================== Search Results Component Styling =================== */
/* Search Results Component */
app-search-results
	@extend #compSample
	width: 90%
	padding: 0 5%
	left: 0
	right: 0

/* Search Results title */
app-search-results h2
	font-family: $mainFont
	color: $headlineColour
	text-align: center
	padding: 5px 5px 0
	margin: 0 5px 10px
	font-size: 24px
	padding-top: 10px
	
/* Results summary title */
#resultSummary
	text-align: center
	font-family: $mainFont

/* Users / Posts title */
app-search-results h3
	text-align: center
	color: $headlineColour
	font-family: $mainFont
	font-size: 20px

/* Results list */
.searchResults
	border-radius: 5px
	width: 80%
	padding: 0 5%
	margin: 5px 5%

/* Result item */
.searchResult
	@extend .newItem
	
/* =================== Notifications Tab Component Styling =================== */
/* Notifications Component */
app-notifications
	@extend #compSample
	width: 40%
	float: right
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5)
	border-radius: 5px
	background-color: #EAEAEA
	z-index: 100
	margin: 20px 5% 20px 55%

/* Notifications Title */
app-notifications h4
	color: $headlineColour
	font-family: $mainFont
	text-align: center
	padding: 5px 5px 0
	margin: 10px 5px
	font-size: 20px
	
/* =================== Admin Dashboard Component Styling =================== */
/* Admin Dashboard Component */
app-admin-dashboard
	@extend #compSample
	width: 90%
	padding: 0 5%
	left: 0
	right: 0

/* Admin Dashboard navigation menu */
#adminNav
	width: 90%
	margin: 5px
	text-align: center

/* Admin Dashboard navigation menu item */
.adminNavItem
	margin: 0 5px
	font-family: $mainFont
	color: $linkColour
	text-align: center
	font-size: 18px

/* Admin Dashboard title */
app-admin-dashboard h3
	font-family: $mainFont
	color: $headlineColour
	text-align: center
	font-size: 20px

/* Admin Dashboard main page intro text */
.adminText
	text-align: center
	font-family: $mainFont
	padding: 5px

/* Admin Dashboard main page list */
#adminCategories
	padding: 0

/* Admin Dashboard main page list item */
.adminCategory
	list-style: none
	font-family: $mainFont
	margin: 10px 5px
	padding: 0

/* Admin Dashboard sub-section title */
.subTitle
	font-family: $mainFont
	color: $headlineColour
	text-align: center
	font-size: 17px

/* =================== Alert Styling =================== */
/* Base Alert */
.alertMessage
	width: 70%
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5)
	border-radius: 5px
	text-align: center
	padding: 10px
	position: fixed
	bottom: 50px
	left: 0
	right: 0
	margin-right: 15%
	margin-left: 15%
	z-index: 100

/* Alert Title */
.alertType
	margin: 0
	padding: 5px
	font-family: $mainFont

/* Alert Text */
.alertText
	font-size: 16px
	font-family: $mainFont

/* Alert Button */
#alertButton
	margin: 10px
	border-radius: 5px
	font-family: $mainFont

/* Success Alert */
.Success
	background-color: rgba(46,161,60,0.90)

/* Error Alert */
.Error
	background-color: rgba(203,72,72,0.95)

/* Notification Alert */
.Notification
	background-color: $itemBackground

/* =================== Footer Styling =================== */
/* Site Footer */
#siteFooter
	position: fixed
	bottom: 0
	left: 0
	width: 100%
	max-width: 100%

/* Footer text */
.footerText
	font-family: $mainFont
	text-align: center
	padding: 0
	color: rgba(22,22,22,1.00)
	/* Responsive styling for screens up to 600px width */
	@media screen and (max-width: 650px)
		font-size: 12px
		margin: 5px
	/* Responsive styling for screens above 600px width */
	@media screen and (min-width: 650px)
		margin: 10px
		font-size: 13px

.footerText a
	color: $linkColour