<div class="messageProfilePic">
  <app-user-icon
    *ngIf="_message().fromId === user1Id()"
    [selectedIcon]="_message().from.selectedIcon ?? 'kitty'"
    [characterColour]="_message().from.iconColours?.character"
    [lbgColour]="_message().from.iconColours?.lbg"
    [rbgColour]="_message().from.iconColours?.rbg"
    [itemColour]="_message().from.iconColours?.item"
    [svgClass]="'userIcon messageIcon'"
  />
  <span *ngIf="_message().fromId !== user1Id()" class="placeholderIcon"></span>
</div>
<div class="messageContainer">
  <div aria-describedby="mUserFrom" class="messageFrom pageCategory">
    {{ _message().from.displayName }}:
  </div>
  <div id="{{ 'text' + _message().id }}" class="messageText" aria-describedby="mText">
    {{ _message().messageText }}
  </div>
  <div class="messageField">
    <span class="pageData" aria-describedby="mDate">
      {{ _message().date }}
    </span>
  </div>
  <div class="buttons">
    <a
      class="appButton messageButton"
      [routerLink]="['/new', 'Message']"
      [queryParams]="{ user: _message().from.displayName, userID: _message().fromId }"
      [attr.aria-describedby]="'mReply ' + 'text' + _message().id"
      >Reply</a
    >
    <button
      class="appButton deleteButton"
      [attr.aria-describedby]="'mDelete ' + 'mText' + _message().id"
      (click)="deleteMessage()"
    >
      Delete
    </button>
  </div>
</div>
<div class="messageProfilePic">
  <app-user-icon
    *ngIf="_message().fromId === user2Id()"
    [selectedIcon]="_message().from.selectedIcon ?? 'kitty'"
    [characterColour]="_message().from.iconColours?.character"
    [lbgColour]="_message().from.iconColours?.lbg"
    [rbgColour]="_message().from.iconColours?.rbg"
    [itemColour]="_message().from.iconColours?.item"
    [svgClass]="'userIcon messageIcon'"
  />
  <span *ngIf="_message().fromId !== user2Id()" class="placeholderIcon"></span>
</div>

<item-delete-form
  *ngIf="deleteMode()"
  [deleteEndpoint]="deleteEndpoint"
  [itemType]="itemType"
  [itemId]="_message().id"
  (editMode)="changeMode($event)"
  (deleted)="messageDeleted.emit(_message().id)"
></item-delete-form>
