/* Headline + navigation */
#mailboxNav {
  /* Responsive styling for screens above 800px width */
  @media screen and (min-width: 800px) {
    width: 24%;
    margin: 20px 2% 20px 4%;
  }
}

#threadsList {
  width: 90%;
}

.messagesLink {
  border: none;
  background: none;
  text-decoration: underline;
}

.form-divider {
  width: 90%;
  min-width: 90%;
}

.form-divider.top-divider {
  margin-bottom: 0;
}
