/* Headline + navigation */
#mailboxNav {
  /* Responsive styling for screens above 800px width */
  @media screen and (min-width: 800px) {
    width: 24%;
    margin: 20px 2% 20px 4%;
  }
}

.messagesLink {
  border: none;
  background: none;
  text-decoration: underline;
}
