<div id="mailboxNav">
  <nav id="breadcrumb" aria-label="Breadcrumb">
    <a class="breadcrumb bLink" [routerLink]="['/messages']">Messages</a> /
    <a
      *ngIf="messType() !== 'thread'"
      class="breadcrumb bLink"
      span
      [routerLink]="['/messages' + messType()]"
      >{{ messType() }}</a
    >
    <span *ngIf="messType() === 'thread'" class="breadcrumb">Thread {{ threadId() }}</span>
  </nav>

  <h1>{{ messType() }}</h1>
  <!-- Messages area navigation. -->
  <div id="messagesNav" role="navigation">
    <a class="messNavOption appButton" [routerLink]="['/messages', 'inbox']">Inbox</a>
    <a class="messNavOption appButton" [routerLink]="['/messages', 'outbox']">Outbox</a>
    <a class="messNavOption appButton" [routerLink]="['/messages', 'threads']">Threads</a>
  </div>
</div>

<!-- If the user is logged in, displays the user's inbox. -->
<div id="userInbox">
  <app-loader
    *ngIf="isLoading()"
    [ngClass]="loaderClass()"
    [loadingMessage]="loadingMessage()"
  ></app-loader>

  <!-- If there are messages in the user's inbox -->
  <ul
    *ngIf="messType() !== 'threads' && messages().length"
    class="mailboxMessages"
    aria-describedby="messType"
  >
    <li
      *ngFor="let message of messages()"
      id="{{ messType() + message.id }}"
      class="userMessage"
      aria-describedby="messType"
    >
      <app-single-message
        [currentUser]="authService.userData()!.id!"
        [message]="message"
        [messType]="messType()"
        (messageDeleted)="updateMessageList($event)"
      ></app-single-message>
    </li>
  </ul>

  <!-- If the user is looking at threads -->
  <div *ngIf="messType() === 'threads'" class="threadsContainer">
    <ul *ngIf="userThreadsFormatted().length" class="userThreads" aria-describedby="messType">
      <li
        *ngFor="let thread of userThreadsFormatted()"
        id="{{ messType() + thread.id }}"
        class="userThread"
        aria-describedby="messType"
      >
        <app-single-thread
          [thread]="thread"
          (messageDeleted)="updateMessageList($event)"
        ></app-single-thread>
      </li>
    </ul>
  </div>

  <!-- Message pagination -->
  <div
    *ngIf="
      ((messages().length && messType() !== 'threads') ||
        (userThreadsFormatted().length && messType() === 'threads')) &&
      !isIdbFetchLoading()
    "
    class="pagination"
    role="navigation"
  >
    <button
      [ngClass]="previousPageButtonClass()"
      [attr.aria-label]="'previous page of the ' + messType() + ' mailbox'"
      [disabled]="currentPage() <= 1"
      (click)="prevPage()"
    >
      Previous Page
    </button>
    <div class="pageCount">Page {{ currentPage() }} of {{ totalPages() }}</div>
    <button
      [ngClass]="nextPageButtonClass()"
      [attr.aria-label]="'next page of the ' + messType() + ' mailbox'"
      [disabled]="totalPages() <= currentPage()"
      (click)="nextPage()"
    >
      Next Page
    </button>
  </div>
  <button
    *ngIf="messages().length && messType() !== 'threads' && messType() !== 'thread'"
    class="appButton deleteButton deleteAll"
    [attr.aria-label]="'delete all ' + messType() + ' messages'"
    (click)="deleteAllMessages()"
  >
    Delete All Messages
  </button>
  <button
    *ngIf="messType() === 'threads' && userThreadsFormatted().length"
    class="appButton deleteButton deleteAll"
    (click)="deleteAllMessages()"
  >
    Delete All Threads
  </button>

  <!-- If there are no messages in the user's outbox -->
  <div
    *ngIf="
      ((!messages().length && messType() !== 'threads') ||
        (!userThreadsFormatted().length && messType() === 'threads')) &&
      !isIdbFetchLoading()
    "
  >
    <div class="errorMessage">You have no messages in this mailbox.</div>
  </div>
</div>

<div id="labels" class="labels" aria-hidden="true">
  <p id="mText">Message text</p>
  <p id="mUserFrom">Message from</p>
  <p id="mUserFor">Message for</p>
  <p id="mDate">Message sent at</p>
  <p id="mReply">Reply to message</p>
  <p id="mDelete">Delete message</p>
  <p id="tUser">Message thread with</p>
  <p id="tNumMess">Number of messages in thread with</p>
  <p id="tLatestMess">Latest message in thread with</p>
  <p id="tView">View thread with</p>
  <p id="tDelete">Delete thread with</p>
  <p id="messType">Messages in the {{ messType() }} mailbox</p>
</div>

<item-delete-form
  *ngIf="deleteMode()"
  [deleteEndpoint]="deleteEndpoint()"
  [itemType]="itemType()"
  [itemId]="authService.userData()!.id!"
  [bulkDelete]="true"
  (editMode)="changeMode($event)"
  (deleted)="clearMailbox()"
></item-delete-form>
