<div id="mailboxNav">
  <h1>Messages</h1>

  <nav *ngIf="messType() === 'thread'" id="breadcrumb" aria-label="Breadcrumb">
    <button class="breadcrumb messagesLink bLink" (click)="closeThread()">Messages</button> /
    <span class="breadcrumb">Thread {{ threadId() }}</span>
  </nav>
</div>

<!-- If the user is logged in, displays the user's mailbox. -->
<div id="userInbox">
  <app-paginated-list
    id="threadsList"
    [isLoading]="isThreadsLoading()"
    [isIdbFetchLoading]="isThreadsIdbFetchLoading()"
    [itemType]="'threads'"
    [itemCount]="userThreadsFormatted().length"
    [totalPages]="totalThreadsPages()"
    [loadingMessage]="'Loading threads...'"
    (pageChange)="updateCurrentPage($event, 'threads')"
  >
    <ul
      *ngIf="userThreadsFormatted().length"
      itemList
      class="userThreads"
      aria-describedby="messType"
    >
      <li
        *ngFor="let thread of userThreadsFormatted()"
        id="{{ messType() + thread.id }}"
        class="userThread"
        aria-describedby="messType"
      >
        <app-single-thread
          [thread]="thread"
          (messageDeleted)="updateMessageList($event, 'threads')"
          (threadSelected)="showThread($event)"
        ></app-single-thread>
      </li>
    </ul>

    <button
      *ngIf="messType() === 'threads' && userThreadsFormatted().length"
      deleteAllButton
      class="appButton deleteButton deleteAll"
      (click)="deleteAllMessages()"
    >
      Delete All Threads
    </button>
  </app-paginated-list>

  <!-- Messages area -->
  <div>
    <app-paginated-list
      *ngIf="threadId() && messages().length"
      id="messagesList"
      [isLoading]="isMessagesLoading()"
      [isIdbFetchLoading]="isMessagesIdbFetchLoading()"
      [itemType]="'messages'"
      [itemCount]="messages().length"
      [totalPages]="totalMessagesPages()"
      [loadingMessage]="'Loading messages...'"
      (pageChange)="updateCurrentPage($event, 'thread')"
    >
      <ul itemList aria-describedby="messType" [ngClass]="messagesContainerClass()">
        <li
          *ngFor="let message of messages()"
          id="{{ messType() + message.id }}"
          class="userMessage"
          aria-describedby="messType"
        >
          <app-single-message
            [currentUser]="authService.userData()!.id!"
            [message]="message"
            [messType]="messType()"
            (messageDeleted)="updateMessageList($event, 'thread')"
          ></app-single-message>
        </li>
      </ul>
    </app-paginated-list>
  </div>
</div>

<div id="labels" class="labels" aria-hidden="true">
  <p id="mText">Message text</p>
  <p id="mUserFrom">Message from</p>
  <p id="mUserFor">Message for</p>
  <p id="mDate">Message sent at</p>
  <p id="mReply">Reply to message</p>
  <p id="mDelete">Delete message</p>
  <p id="tUser">Message thread with</p>
  <p id="tNumMess">Number of messages in thread with</p>
  <p id="tLatestMess">Latest message in thread with</p>
  <p id="tView">View thread with</p>
  <p id="tDelete">Delete thread with</p>
  <p id="messType">Messages in the {{ messType() }} mailbox</p>
</div>

<item-delete-form
  *ngIf="deleteMode()"
  [deleteEndpoint]="deleteEndpoint()"
  [itemType]="itemType()"
  [itemId]="authService.userData()!.id!"
  [bulkDelete]="true"
  (editMode)="changeMode($event)"
  (deleted)="clearMailbox()"
></item-delete-form>
