<div  *ngIf="authService.authenticated">
	<h3>Settings</h3>
	
	<div id="settings">
		<button class="appButton NotificationButton" (click)="togglePushNotifications()">{{ notificationService.toggleBtn }} Push Notifications</button>
		<button class="appButton NotificationButton" (click)="toggleAutoRefresh()">{{ notificationService.refreshBtn }} Auto-Refresh</button>
	</div>
</div>

<div *ngIf="!authService.authenticated">
	<div class="errorMessage">You do not have permission to view thie page!</div>
	<a [routerLink]="" class="appButton">Back to homepage</a>
</div>