<div  *ngIf="authService.authenticated">
	<h3>Settings</h3>
	
	<div id="iconSettings">
		<h4>User Icon</h4>
		<div *ngIf="editIcon == false">
			<img src="../../../assets/img/kitty.svg" alt="" *ngIf="authService.userData.selectedIcon == 'kitty'" class="userIcon" >
			<img src="../../../assets/img/dog.svg" alt="" *ngIf="authService.userData.selectedIcon == 'dog'"  class="userIcon" >
			<img src="../../../assets/img/bear.svg" alt="" *ngIf="authService.userData.selectedIcon == 'bear'"  class="userIcon" >
		</div>
		<button *ngIf="editIcon == false" (click)="toggleIconEditor()" class="appButton">Edit User Icon</button>
		
		<app-icon-editor *ngIf="editIcon== true"></app-icon-editor>
	</div>
	
	<div id="notificationSettings">
		<h4>Notifications</h4>
		<button class="appButton NotificationButton" (click)="togglePushNotifications()">{{ notificationService.toggleBtn }} Push Notifications</button>
		<button class="appButton NotificationButton" (click)="toggleAutoRefresh()">{{ notificationService.refreshBtn }} Auto-Refresh</button>
		<form id="refreshRateForm">
			<div class="formElement">
				<label for="notificationRate" class="required">Notifications auto-refresh rate:</label>
				<input type="number" min="20" max="3600" id="notificationRate" value="(notificationService.refreshRateSecs)" #notificationRate aria-invalid="false" required aria-required="true">
			</div>
			<button type="submit" (click)="updateRefreshRate($event, notificationRate.value)" class="appButton sendData" aria-label="save auto-refresh settings">Save</button>
		</form>
		
	</div>
</div>

<div *ngIf="!authService.authenticated" id="errorBox">
	<div class="errorMessage">You do not have permission to view thie page!</div>
	<a [routerLink]="['/']" class="appButton">Back to homepage</a>
</div>