<div
  [ngClass]="alertClass()"
  [attr.role]="alertRole()"
  [attr.aria-label]="alertAriaLabel()"
  [attr.aria-hidden]="!alertsService.shouldDisplayAlert()"
  [attr.aria-live]="alertAriaLive()"
>
  <i [ngClass]="alertIconClass()"></i>
  <h1 class="alertType">{{ alertsService.alertType() }}</h1>
  <div class="alertText">{{ alertsService.alertMessage() }}</div>

  <button
    class="appButton"
    id="alertButton"
    [disabled]="!alertsService.shouldDisplayAlert()"
    (click)="closeAlert()"
  >
    Close
  </button>
  <button
    *ngIf="alertsService.shouldDisplayReloadBtn()"
    class="appButton"
    id="reloadBtn"
    [disabled]="!alertsService.shouldDisplayAlert()"
    (click)="reloadPage()"
  >
    Reload Page
  </button>
  <a
    *ngIf="alertsService.shouldDisplayNavBtn()"
    class="appButton"
    id="navButton"
    [routerLink]="alertsService.navBtnTarget()"
    (click)="closeAlert()"
  >
    {{ alertsService.navBtnText() }}
  </a>
</div>
