<div id="newItem">
  <h1 id="newTitle">New {{ itemType() }}</h1>

  <span *ngIf="authService.userData() !== undefined">
    <div *ngIf="itemType() === 'Message'" id="newMessage">
      <form
        *ngIf="this.newMessageForm.controls.messageFor.value && forID()"
        class="newItem"
        aria-describedby="newTitle"
        [formGroup]="newMessageForm"
      >
        <div class="formElement">
          <label class="pageCategory" for="messageFor">For:</label>
          <input
            formControlName="messageFor"
            type="text"
            id="messageFor"
            aria-labelledby="mUser"
            readonly
          />
        </div>
        <div class="formElement">
          <label class="pageCategory required" for="messageText">Message</label>
          <br />
          <textarea
            formControlName="messageText"
            id="messageText"
            cols="40"
            rows="8"
            aria-labelledby="mText"
            class="newTextArea"
            minlength="0"
            maxlength="480"
            required
            aria-required="true"
            [attr.aria-invalid]="!this.newMessageForm.controls.messageText.valid"
          ></textarea>
        </div>
        <button type="submit" class="appButton sendData" (click)="sendMessage()">
          Send Message
        </button>
      </form>

      <div
        *ngIf="!this.newMessageForm.controls.messageFor.value || !forID()"
        class="errorMessage"
        role="alert"
      >
        User ID and display name are required for sending a message. Please add numerical user ID
        and the user's display name and try again.
      </div>
    </div>

    <div *ngIf="itemType() === 'Post'" id="newPost">
      <form
        *ngIf="!authService.userData()!.blocked"
        class="newItem"
        aria-describedby="newTitle"
        [formGroup]="newPostForm"
      >
        <div class="formElement">
          <span class="pageCategory">By:</span>
          <span class="pageData" aria-describedby="pUser">{{
            authService.userData()!.displayName
          }}</span>
        </div>
        <div class="formElement">
          <label class="pageCategory required" for="postText">Text:</label>
          <br />
          <textarea
            formControlName="postText"
            id="postText"
            cols="40"
            rows="8"
            aria-labelledby="pText"
            class="newTextArea"
            minlength="0"
            maxlength="480"
            required
            aria-required="true"
            [attr.aria-invalid]="!this.newPostForm.controls.postText.valid"
          ></textarea>
        </div>
        <button type="submit" class="appButton sendData" (click)="sendPost()">Publish Post</button>
      </form>

      <div *ngIf="authService.userData()!.blocked" class="errorMessage" role="alert">
        You are currently blocked until {{ authService.userData()!.releaseDate }}. You cannot post
        new posts.
      </div>
    </div>
  </span>

  <div *ngIf="authService.userData() === undefined" class="errorMessage" role="alert">
    You're not currently logged in. Please log in and then try again.
  </div>

  <div id="labels" class="labels" aria-hidden="true">
    <p id="pText">New Post Text</p>
    <p id="pUser">New Post Writer</p>
    <p id="mText">New message text</p>
    <p id="mUser">New message for user</p>
  </div>
</div>
