<!-- If the user is logged in, displays a user page. -->
<div id="profileContainer">
  <app-loader
    *ngIf="isLoading()"
    [ngClass]="loaderClass()"
    [loadingMessage]="'Fetching user data...'"
  ></app-loader>

  <h1 class="labels">User Page</h1>

  <div *ngIf="!isIdbFetchLoading()" id="userPage" role="region">
    <div id="profileData">
      <div id="profilePic">
        <app-user-icon
          [selectedIcon]="displayUser().selectedIcon"
          [characterColour]="displayUser().iconColours.character"
          [lbgColour]="displayUser().iconColours.lbg"
          [rbgColour]="displayUser().iconColours.rbg"
          [itemColour]="displayUser().iconColours.item"
          [svgClass]="'userIcon'"
        />
      </div>
      <div id="userNameRole">
        <div class="displayName">
          <span class="pageData">{{ displayUser().displayName }}</span>
          <span *ngIf="isOtherUserProfile()" class="pageData">
            <button
              class="textlessButton hugButton"
              aria-labelledby="uHug"
              aria-describedby="uHug"
              (click)="sendHug(otherUser()!.id)"
            >
              <!-- prettier-ignore -->
              <fa-icon class="fa-gratipay" [icon]="faGratipay"></fa-icon>
            </button>
          </span>
        </div>
        <div id="roleElement">
          <span class="pageCategory" id="userRole">Role:</span
          ><span class="pageData">{{ displayUser().role.name }}</span>
        </div>
      </div>
      <div class="profileElement" id="rHugsElement">
        <div class="pageData">
          {{ displayUser().receivedH }}
        </div>
        <div class="pageCategory">Hugs Received</div>
      </div>
      <div class="profileElement" id="gHugsElement">
        <div class="pageData">{{ displayUser().givenH }}</div>
        <div class="pageCategory">Hugs Given</div>
      </div>
      <div class="profileElement" id="postsElement">
        <div class="pageData">{{ displayUser().posts }}</div>
        <div class="pageCategory">Posts Written</div>
      </div>

      <div class="buttons">
        <button
          *ngIf="!isOtherUserProfile()"
          id="editName"
          class="appButton"
          [attr.aria-label]="'edit display name for user ' + displayUser().displayName"
          (click)="editName()"
        >
          Edit Display Name
        </button>
        <a
          *ngIf="!isOtherUserProfile()"
          id="settingsLink"
          class="appButton"
          [routerLink]="['/settings']"
          [attr.aria-label]="'go to user settings page for user ' + displayUser().displayName"
          >User Settings</a
        >
        <button
          *ngIf="isOtherUserProfile()"
          class="appButton reportButton"
          [attr.aria-label]="'report user ' + displayUser().displayName"
          (click)="reportUser(otherUser()!)"
        >
          Report User
        </button>
        <button *ngIf="!isOtherUserProfile()" id="logout" class="appButton" (click)="logout()">
          Log Out
        </button>
      </div>
    </div>

    <app-my-posts [userID]="userId()!"></app-my-posts>
  </div>
</div>

<div id="labels" class="labels">
  <p id="uHug">Send a hug to user {{ displayUser().displayName }}</p>
  <p id="uGivenH">Hugs given by user</p>
  <p id="uReceived">Hugs received by user</p>
  <p id="uNumP">Number of posts written by user</p>
  <p id="pEdit">Edit post</p>
  <p id="pDelete">Delete post</p>
</div>

<report-form
  *ngIf="reportMode()"
  [reportedItem]="reportedItem()!"
  [reportType]="reportType"
  (reportMode)="changeMode($event, 'Report')"
></report-form>

<display-name-edit-form
  *ngIf="editMode()"
  [editedItem]="userToEdit()!"
  (editMode)="changeMode($event, 'Edit')"
></display-name-edit-form>
