<div id="items">
  <h1 class="listTitle" id="listTitle">{{ type() }} Items</h1>

  <app-loader *ngIf="isLoading()" [loadingMessage]="'Fetching posts...'"></app-loader>

  <!-- If there are items in the list -->
  <ul *ngIf="posts().length > 0 && !isLoading()" id="fullItems" aria-describedby="listTitle">
    <li
      *ngFor="let item of posts()"
      aria-describedby="listTitle"
      [class]="type() === 'New' ? 'newItem' : 'sugItem'"
    >
      <app-single-post
        [post]="item"
        [type]="'n'"
        (deletedId)="removeDeletedPost($event)"
      ></app-single-post>
    </li>
  </ul>

  <!-- If there are no items in the list -->
  <div *ngIf="posts().length === 0 && !isLoading()" class="errorMessage">There are no posts.</div>

  <!-- Post pagination -->
  <div class="pagination" role="navigation">
    <button
      [ngClass]="previousPageButtonClass()"
      [attr.aria-label]="'previous page of ' + type + ' posts'"
      [disabled]="currentPage() <= 1"
      (click)="prevPage()"
    >
      Previous Page
    </button>
    <div class="pageCount">Page {{ currentPage() }} of {{ totalPages() }}</div>
    <button
      [ngClass]="nextPageButtonClass()"
      [attr.aria-label]="'next page of ' + type + ' posts'"
      [disabled]="totalPages() <= currentPage()"
      (click)="nextPage()"
    >
      Next Page
    </button>
  </div>
</div>
