<h3 id="aboutTitle">About Send a Hug</h3>

<div role="document">
	<div class="aboutText">People suffering from depression and other mental illnesses often feel like nobody sees or cares about them. This often creates a vicious cycle, in which the people fighting depression pull away from those they love (as they don't want to be a burden, or they feel like they're already invisible), which makes it difficult for people to see they're struggling, and that only 'confirms' to those suffering that they're invisible. That cycle is difficult to break out of.</div>

	<div class="aboutText">That's why I've started developing this app. As someone who's intimately familiar with depression and its destructive power, I know how difficult it can be to convince oneself that people do care about you. I also know how much even the tiniest bit of kindness means when you're struggling. Even a virtual hug or a 'you are not alone' message can be the things to give you strength for a day, or convince you to try to reach out again. Every little gesture can be the difference between life and death.</div>

	<div class="aboutText">So this is the idea of this project. If a person is struggling, if they need to let something off their chest, all they need to do is write it. The app allows users to send virtual hugs, as well as support messages (messages are not encrypted, but they can only be viewed by the users). The suggested posts are sorted by the number of hugs, which means posts with fewer hugs are pushed higher up the list. This helps ensuring that as many users as possible will have at least one person showing them they care and they're not alone. </div>

	<a href="https://github.com/sendahug/sendahug" class="aboutLink" target="_blank" rel="noreferrer">GitHub Repo</a>
	
	<div id="policies">
		<a [routerLink]="['/policies/terms']" class="aboutInnerLink">Terms and Conditions</a> | <a [routerLink]="['/policies/privacy']" class="aboutInnerLink">Privacy Policy</a> | <a [routerLink]="['/policies/cookies']" class="aboutInnerLink">Cookies Policy</a>
	</div>
</div>
