/* Original design by Macy Tyler */
/* Responsive adjustments by Send a Hug team */
@import "./variables.less";

.headerAlerts {
  left: 0;
  right: 0;
  box-shadow: 5px 5px 5px 0 rgba(46, 61, 73, 0.5);
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #eaeaea;
  margin: 0 5%;
}

.limitedSpaceNavLink() {
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  width: 40%;
  overflow-y: visible;
  position: fixed;
  left: -10px;
  top: 0;
  z-index: 10;
  background: var(--boxesBackground);
  align-items: center;
  justify-content: center;
}

.navLinkButtonSample() {
  text-align: center;

  /* Responsive styling for screens up to 650px width */
  @media screen and (max-width: 650px) {
    padding: 10px 15px;
    background: var(--boxesBackground);
  }

  /* Responsive styling for screens above 650px width */
  @media screen and (min-width: 650px) {
    background: var(--mainBackground);
  }
}

/* =================== Header Styling =================== */
/* Skip link */
.skip-link {
  position: absolute;
  left: -400px;
}

/* Skip link when focused */
.skip-link:focus {
  .fontSize(16);
  left: 0;
  top: 0;
}

/* Site Header when the popup is on */
#siteHeader.modal {
  z-index: 0;
}

/* No internet connection message */
#noInternet {
  .fontSize(14);
  &:extend(.headerAlerts);
  width: 90%;
  padding: 5px;
  color: var(--headlineColour);
  padding: 0;
  /* Responsive styling for screens above 900px width */
  @media screen and (min-width: 900px) {
    height: 22px;
    max-height: 22px;
  }
}

/* Menu button */
#menuBtn:not(.hidden) {
  display: block;
  background: var(--mainBackground);
}

/* Navigation menu - inner */
.navLinks {
  /* Responsive styling for screens up to 650px width */
  @media screen and (max-width: 650px) {
    .limitedSpaceNavLink();
    padding: 10px;
  }
  /* Responsive styling for screens above 650px width */
  @media screen and (min-width: 650px) {
    flex-direction: row;
    width: 100%;
    background: var(--mainBackground);
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  /* Responsive styling for screens above 600px height */
  @media screen and (max-height: 600px) {
    overflow-y: scroll;
  }
}

.navLinks:not(.hidden) {
  display: flex;
}

/* Navigation menu - inner - for larger font size */
.navLinks.large {
  .limitedSpaceNavLink();
  padding: 30px 10px;
  overflow-y: scroll;
}

/* Navigation Item */
.navLink {
  .navLinkButtonSample();
  color: var(--linkColour);
  display: block;
  border: none;
  padding: 0 15px;
  text-decoration: none;

  /* Responsive styling for screens between 650px and 800px width */
  @media screen and (min-width: 650px) and (max-width: 800px) {
    padding: 0 10px;
  }
}

/* Navigation Item's text (current page) */
.navLink.active .navLinkText {
  .fontSize(15);
}

/* Navigation item text */
.navLinkText {
  .fontSize(13);
  padding-top: 5px;
  white-space: nowrap;
  /* Responsive styling for screens above 700px width */
  @media screen and (min-width: 700px) {
    .fontSize(14);
  }
}

/* Navigation buttons (notifications / search) */
.navButton {
  .navLinkButtonSample();
  font-size: 24px;
  /* Responsive styling for screens up to 650px width */
  @media screen and (max-width: 650px) {
    margin: 0;
  }
  /* Responsive styling for screens above 650px width */
  @media screen and (min-width: 650px) {
    font-size: 20px;
  }
  /* Responsive styling for screens above 700px width */
  @media screen and (min-width: 700px) {
    margin: 0 5px;
    font-size: 23px;
  }
  /* Responsive styling for screens above 800px width */
  @media screen and (min-width: 800px) {
    font-size: 24px;
  }
}

/* Notifications button */
.newNotification {
  &:extend(.notificationBlockSample);
  padding: 2px;
  background-color: var(--boxesBackground);
  /* Responsive styling for screens up to 650px width */
  @media screen and (max-width: 650px) {
    margin-top: 20px;
  }
  /* Responsive styling for screens above 650px width */
  @media screen and (min-width: 650px) {
    margin-left: 10px;
    background: var(--mainBackground);
  }
  /* Responsive styling for screens above 700px width */
  @media screen and (min-width: 700px) {
    margin-left: 5px;
  }
}

/* Search form exit button */
#search #exitButton {
  &:extend(.textlessButton);
  margin: 5px;
  background: var(--mainBackground);
  padding: 1px;
  /* Responsive design for screens above 400px width */
  @media screen and (min-width: 400px) {
    padding: 1px 2px;
  }
}

/* =================== Header Message Component Styling =================== */
/* Via https://www.w3schools.com/howto/howto_css_loader.asp */
/*  Header Message div */
app-header-message #headerMessage {
  &:extend(.headerAlerts);
  height: 20px;
  max-height: 20px;
  padding: 10px;
}

/*  Header Message message */
#headerMessage #loadingMessage {
  .fontSize(13);
  color: var(--headlineColour);
  margin: 0;
  padding: 0;
  /* Responsive styling for screens above 390px width */
  @media screen and (min-width: 390px) {
    .fontSize(14);
  }
  /* Responsive styling for screens above 500px width */
  @media screen and (min-width: 500px) {
    .fontSize(16);
  }
}

/*  Header Message spinner */
#headerMessage .spinner {
  &:extend(.spinnerSample);
  width: 15px;
  height: 15px;
  margin: 0 10px;
  /* Responsive styling for screens above 500px width */
  @media screen and (min-width: 500px) {
    margin: 0 20px;
  }
}
