/* Original design by Macy Tyler */
/* Responsive adjustments by Send a Hug team */
@import "./variables.less";

/* =================== Post Styling =================== */
.postIntenalText {
  text-align: center;
  width: 80%;
  margin: 5px;
  padding: 0 10%;
}

/* Item List Title */
.listTitle {
  .fontSize(24);
  color: var(--headlineColour);
  text-align: center;
  padding-top: 5px;
  margin-top: 5px;
}

/* New & Suggested Item */
.newItem,
.sugItem,
.suggestedItem {
  &:extend(#itemSample);
  border-color: var(--itemBackground);
  box-shadow: 3px 3px 7px 0 rgba(46, 61, 73, 0.5);
  margin: 10px auto;
  padding: 5px;
  background: var(--itemBackground);
  display: flex;
  flex-wrap: wrap;
  max-width: 430px;
  /* Responsive styling for screens above 800px width */
  @media screen and (min-width: 800px) {
    padding: 7px;
  }
}

/* Item Text */
.itemText {
  .fontSize(17.5);
  &:extend(.postIntenalText);
  order: 0;
  line-height: 1.5em;
  /* Responsive styling for screens above 500px width */
  @media screen and (min-width: 500px) {
    .fontSize(18.5);
  }
  /* Responsive styling for screens above 600px width */
  @media screen and (min-width: 600px) {
    line-height: 1.8em;
  }
}

/* Item User */
.itemUser {
  .fontSize(15.5);
  &:extend(.postIntenalText);
  order: 1;
  padding-bottom: 10px;
  /* Responsive styling for screens above 500px width */
  @media screen and (min-width: 500px) {
    .fontSize(16.5);
  }
}

.itemDate {
  .fontSize(12);
  &:extend(.postIntenalText);
  order: 2;
  /* Responsive styling for screens above 500px width */
  @media screen and (min-width: 500px) {
    .fontSize(13);
  }
}

/* Item User Profile Link */
.profileLink {
  color: var(--profileLinkColour);
  text-decoration: none;
  font-weight: bold;
}
