/* Original design by Macy Tyler */
/* Responsive adjustments by Send a Hug team */

/* =================== Variables & Mixins =================== */
/* Font size mixin */
.fontSize(@pxSize) {
	@remValue: @pxSize / 10 * 0.625;
	font-size: ~"@{remValue}rem";
}

/* Fonts */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../assets/fonts/Montserrat-Regular.ttf') format('ttf');
}

@font-face {
	font-family: 'Montserrat';
	font-style: bold;
	font-weight: 700;
	src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../assets/fonts/Montserrat-Bold.ttf') format('ttf');
}

/* Colour Palette */
@mainBackground: #F2F2F2;
@boxesBackground: #E2E2E2;
@itemBackground: #FFFFFF;
@buttonBackground: linear-gradient(90deg, rgba(224,31,111,1) 40%, rgba(231,8,46,1) 100%);
@headlineColour: #1F1F1F;
@textColour: #000000;
@linkColour: #404040;
@profileLinkColour: #70315B;

/* Fonts */
@mainFont: 'Montserrat', sans-serif;

/* =================== Classes for extension =================== */
/* Frame Sample */
#frameSample {
	border: thin solid rgba(37,37,37,1.00);
	border-radius: 5px;
}

/* Item (message/post) Sample */
#itemSample {
	border: thin solid #FFFFFF;
	border-radius: 10px;
	box-shadow: 3px 3px 7px 0 rgba(46, 61, 73, 0.5);
}

/* Error message sample */
#errorMessBox {
	padding: 10px;
	width: 80%;
	margin: 5px Calc((20% - 20px) / 2);
}

.spinnerSample {
	border-radius: 50%;
	animation: spin 2s linear infinite;
	border: 3px solid #f3f3f3; /* Light grey */
	border-top: 3px solid #e01f6f; /* Pink-ish */
}

/*  Header Message spinner rotate animation */
@keyframes spin {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg)
	}
}
