<div *ngIf="!authService.authenticated()" id="loginBox">
  <h1 class="signupTitle">Sign Up</h1>
  <form id="loginForm" [formGroup]="signUpForm">
    <div class="formElement">
      <label class="pageCategory" for="displayName">Display Name:</label>
      <input formControlName="displayName" type="text" id="displayName" />
    </div>
    <div class="formElement">
      <input
        formControlName="emailNotificationsEnabled"
        type="checkbox"
        id="emailNotificationsEnabled"
      />
      <label class="pageCategory" for="emailNotificationsEnabled">Enable Email Notifications</label>
    </div>
    <div class="formNote">
      You'll be able to choose which types of email notifications you want to receive in the
      settings page once you complete registration.
    </div>
    <div class="formElement">
      <input formControlName="acceptedTerms" type="checkbox" id="acceptedTerms" />
      <label class="pageCategory" for="acceptedTerms"
        >I accept the
        <a class="profileLink" target="_blank" [routerLink]="['/policies/terms']"
          >terms and conditions</a
        >
        and the
        <a class="profileLink" target="_blank" [routerLink]="['/policies/privacy']"
          >privacy policy</a
        >.
      </label>
    </div>
    <span class="formButtons">
      <button type="submit" class="appButton sendData" id="logIn" (click)="signUp()">
        Sign Up
      </button>
      <button type="button" class="appButton sendData" id="logOut" (click)="signOutAndRedirect()">
        Use Another Account
      </button>
    </span>
  </form>
</div>

<div *ngIf="authService.authenticated()" id="logoutBox">
  <div class="errorMessage">You are already registered!</div>

  <div class="errorMessage">
    You are currently logged in as {{ authService.userData()!.displayName }}.
  </div>
</div>
