<div id="modalBox">
	<div id="editPopup">
		<button id="exitButton" (click)="exitEdit()"><i class="fas fa-times"></i></button>
		<!-- If the user is editing a post -->
		<form *ngIf="toEdit == 'post'" id="postEdit">
			<div class="formElement">
				<span class="pageCategory">By:</span> <span class="pageData">{{ authService.userData.displayName }}</span>
			</div>
			<div class="formElement">{{ editedItem.date }}</div>
			<div class="formElement">
				<label class="pageCategory" for="postText">Text:</label>
				<textarea #postText id="postText" cols="40" rows="4">{{ editedItem.text }}</textarea>
			</div>
			<button type="submit" class="appButton sendData" (click)="updatePost($event, postText.value)">Update</button>
		</form>
		
		<!-- If the user is editing a user -->
		<form *ngIf="toEdit == 'user'" id="userEdit">
			<div class="formElement">
				<label class="pageCategory" for="displayName">Display Name:</label>
				<input #displayName type="text" id="displayName" value="{{ authService.userData.displayName }}">
			</div>
			
			<button type="submit" class="appButton updateItem" (click)="updateDisplayN($event, displayName.value)">Update</button>
		</form>
		
		<!-- If the user is deleting something -->
		<div *ngIf="delete" id="deleteItem">
			<div>Are you sure you want to delete this item?</div>
			<div id="warning">This action is irreversible!</div>
			
			<button class="appButton deleteButton" (click)="deleteItem()">Yes, Delete</button>
			<button class="appButton" (click)="exitEdit()">Never Mind</button>
		</div>
		
		<!-- If the user is reporting a post -->
		<div *ngIf="report && reportType == 'Post'" id="reportItem">
			<h3>Report Post</h3>
			<div class="userPost">
				<div class="itemText">{{ reportedItem.text }}</div>
				<div class="itemUser">By {{ reportedItem.user }}</div>
			</div>
			<div>What is the problem with this post?</div>
			<form id="reportPost">
				<div class="formElement">
					<input type="radio" class="radioButton" name="postReport" id="pRadioOption0" value="0" (click)="setSelected($event.target.value)">
					<label class="radioButtonLabel" for="pRadioOption0">It is inppopriate.</label>
				</div>
				<div class="formElement">
					<input type="radio" class="radioButton" name="postReport" id="pRadioOption1" value="1" (click)="setSelected($event.target.value)">
					<label class="radioButtonLabel" for="pRadioOption1">It is spam.</label>
				</div>
				<div class="formElement">
					<input type="radio" class="radioButton" name="postReport" id="pRadioOption2" value="2" (click)="setSelected($event.target.value)">
					<label class="radioButtonLabel" for="pRadioOption2">It is offensive.</label>
				</div>
				<div class="formElement">
					<input type="radio" class="radioButton" name="postReport" id="pRadioOption3" value="3" (click)="setSelected($event.target.value)">
					<label class="radioButtonLabel" for="pRadioOption3">Other:</label> <input type="text" placeholder="Enter the response" id="rOption3Text">
				</div>
				
				<button type="submit" class="appButton reportButton" (click)="reportPost($event)">Report</button>
			</form>
		</div>
		
		<!-- If the user is reporting a post -->
		<div *ngIf="report && reportType == 'User'" id="reportUser">
			<h3>Report User</h3>
			<a [routerLink]="['/user', user.id]">{{ user.displayName }}</a>
			<div>What is the problem with this user?</div>
			<form id="reportUserForm">
				<div class="formElement">
					<input type="radio" class="radioButton" name="postReport" id="uRadioOption0" value="0" (click)="setSelected($event.target.value)">
					<label class="radioButtonLabel" for="uRadioOption0">They are posting spam.</label>
				</div>
				<div class="formElement">
					<input type="radio" class="radioButton" name="postReport" id="uRadioOption1" value="1" (click)="setSelected($event.target.value)">
					<label class="radioButtonLabel" for="uRadioOption1">They are posting harmful / dangerous content.</label>
				</div>
				<div class="formElement">
					<input type="radio" class="radioButton" name="postReport" id="uRadioOption2" value="2" (click)="setSelected($event.target.value)">
					<label class="radioButtonLabel" for="uRadioOption2">They are behaving in an abusive manner.</label>
				</div>
				<div class="formElement">
					<input type="radio" class="radioButton" name="postReport" id="uRadioOption3" value="3" (click)="setSelected($event.target.value)">
					<label class="radioButtonLabel" for="uRadioOption3">Other:</label> <input type="text" placeholder="Enter the response" id="uOption3Text">
				</div>
				
				<button type="submit" class="appButton reportButton" (click)="reportUser($event)">Report</button>
			</form>
		</div>
	</div>
</div>