<div id="modalBox">
	<div id="editPopup" role="dialog" aria-label="edit popup">
		<button id="exitButton" (click)="exitEdit()" aria-label="close popup"><fa-icon [icon]="faTimes" class="fa-times"></fa-icon></button>
		<post-edit-form
			*ngIf="toEdit == 'post' || toEdit == 'admin post'"
			[editedItem]="editedItem"
			[reportData]="reportData"
			(editMode)="exitEdit()"
			[isAdmin]="toEdit == 'post' ? false : true">
		</post-edit-form>

		<display-name-edit-form
			*ngIf="toEdit == 'user' || toEdit == 'other user'"
			[toEdit]="toEdit"
			[editedItem]="editedItem"
			[reportData]="reportData"
			(editMode)="exitEdit()">
		</display-name-edit-form>

		<report-form
			*ngIf="report"
			[reportedItem]="reportedItem"
			[reportType]="reportType"
			(reportMode)="exitEdit()">
		</report-form>

		<!-- If the user is deleting something -->
		<div *ngIf="delete && toDelete != 'ad post'" id="deleteItem" class="deleteItem">
			<div class="popupText">Are you sure you want to delete this item?</div>
			<div class="popupText warning">This action is irreversible!</div>

			<div class="buttons">
				<button class="appButton popupDeleteBtn" (click)="deleteItem()">Yes, Delete</button>
				<button class="appButton popupDeleteBtn" (click)="exitEdit()">Never Mind</button>
			</div>
		</div>

		<!-- If the user is deleting something from admin menu -->
		<div *ngIf="delete && toDelete == 'ad post'" id="adDeleteItem" class="deleteItem">
			<div class="popupText">Are you sure you want to delete this item?</div>
			<div class="popupText warning">This action is irreversible!</div>

			<div class="buttons">
				<button class="appButton deleteButton popupDeleteBtn" (click)="deletePost(true)">Delete and Close Report</button>
				<button class="appButton deleteButton popupDeleteBtn" (click)="deletePost(false)">Delete without Closing Report</button>
				<button class="appButton popupDeleteBtn" (click)="exitEdit()">Never Mind</button>
			</div>
		</div>
	</div>
</div>

<div id="labels" class="labels" aria-hidden="true">
	<p id="pText">Post Text</p>
	<p id="pDate">Published at</p>
	<p id="pUser">Post Writer</p>
</div>
