<app-loader
		[waitingFor]="waitFor"></app-loader>

<h3>Inbox</h3>
<!-- If the user is logged in, displays the user's inbox. -->
<div id="userInbox" *ngIf="authService.authenticated">
	<!-- If there are messages in the user's inbox -->
	<div *ngIf="itemsService.userMessages.length">
		<div *ngFor="let message of itemsService.userMessages" class="userMessage">
			<div class="messageField">
				<span class="pageCategory">From:</span> <span class="pageData">{{ message.from }}</span>
			</div>
			<div class="pageCategory">Message:</div> <div class="pageData">{{ message.messageText }}</div>
			<button class="appButton deleteButton" (click)="deleteMessage(message.id)">Delete</button>
		</div>
		<!-- Message pagination -->
		<div class="pagination">
			<button *ngIf="itemsService.userMessagesPage > 1" class="appButton prevButton" (click)="prevPage()">Previous Page</button>
			<button *ngIf="itemsService.userMessagesPage <= 1" class="appButton hidden" (click)="prevPage()">Previous Page</button>
			<div class="pageCount">Page {{ itemsService.userMessagesPage }} of {{ itemsService.totalUserMessagesPages }}</div>
			<button *ngIf="itemsService.totalUserMessagesPages > itemsService.userMessagesPage" class="appButton nextButton" (click)="nextPage()">Next Page</button>
			<button *ngIf="itemsService.totalUserMessagesPages <= itemsService.userMessagesPage" class="appButton hidden" (click)="nextPage()">Next Page</button>
		</div>
	</div>
	
	<!-- If there are no messages in the user's inbox -->
	<div *ngIf="!itemsService.userMessages.length">
		<div class="errorMessage">You have no incoming messages.</div>
	</div>
</div>

<!-- If the user isn't logged in, prompts the user to log in. -->
<div id="loginBox" *ngIf="!authService.authenticated">
	<div class="errorMessage">You are not currently logged in. To view your inbox, log in.</div>

	<button id="logIn" class="appButton" (click)="login()">Login</button>
</div>
