<h3>Inbox</h3>
<!-- If the user is logged in, displays the user's inbox. -->
<div id="userInbox" *ngIf="authService.authenticated">
	<!-- Messages area navigation. -->
	<div id="messagesNav">
		<button class="messNavOption appButton" (click)="changeMailbox('inbox')">Inbox</button>
		<button class="messNavOption appButton" (click)="changeMailbox('outbox')">Outbox</button>
	</div>
	
	<app-loader
		[waitingFor]="waitFor"></app-loader>

	<!-- If there are messages in the user's inbox -->
	<div *ngIf="itemsService.userMessages[messType].length">
		<div *ngFor="let message of itemsService.userMessages[messType]" class="userMessage">
			<div class="messageField" *ngIf="messType == 'inbox'">
				<span class="pageCategory">From:</span> <span class="pageData">{{ message.from }}</span>
			</div>
			<div class="messageField" *ngIf="messType == 'outbox'">
				<span class="pageCategory">For:</span> <span class="pageData">{{ message.for }}</span>
			</div>
			<div class="pageCategory">Message:</div> <div class="pageData">{{ message.messageText }}</div>
			<a [routerLink]="['/new', 'Message']" [queryParams]="{user: message.from, userID: message.fromId}" class="appButton messageButton"><i class="fas fa-reply"></i></a>
			<button class="appButton deleteButton" (click)="deleteMessage(message.id)">Delete</button>
		</div>
		<!-- Message pagination -->
		<div class="pagination">
			<button *ngIf="itemsService.userMessagesPage[messType] > 1" class="appButton prevButton" (click)="prevPage()">Previous Page</button>
			<button *ngIf="itemsService.userMessagesPage[messType] <= 1" class="appButton hidden" (click)="prevPage()">Previous Page</button>
			<div class="pageCount">Page {{ itemsService.userMessagesPage[messType] }} of {{ itemsService.totalUserMessagesPages[messType] }}</div>
			<button *ngIf="itemsService.totalUserMessagesPages[messType] > itemsService.userMessagesPage[messType]" class="appButton nextButton" (click)="nextPage()">Next Page</button>
			<button *ngIf="itemsService.totalUserMessagesPages[messType] <= itemsService.userMessagesPage[messType]" class="appButton hidden" (click)="nextPage()">Next Page</button>
		</div>
	</div>
	
	<!-- If there are no messages in the user's inbox -->
	<div *ngIf="!itemsService.userMessages[messType].length && itemsService.isUserMessagesResolved">
		<div class="errorMessage">You have no incoming messages.</div>
	</div>
</div>

<!-- If the user isn't logged in, prompts the user to log in. -->
<div id="loginBox" *ngIf="!authService.authenticated">
	<div class="errorMessage">You are not currently logged in. To view your inbox, log in.</div>

	<button id="logIn" class="appButton" (click)="login()">Login</button>
</div>
