<h1 id="siteMap">Send a Hug - Site Map</h1>

<div role="document">
  <ul id="routeList">
    <li *ngFor="let route of routes()" class="mainRoute">
      <h2>{{ route.data!["name"] }}</h2>
      <ul *ngIf="route.data && route.data['mapRoutes']">
        <li *ngFor="let child of route.data['mapRoutes']" class="subRoute">
          <a class="routerLink" [routerLink]="['/' + route.path + '/' + child.path]">{{
            child["name"]
          }}</a>
        </li>
      </ul>
      <a *ngIf="!route.children" class="routerLink" [routerLink]="['/' + route.path]">{{
        route.data!["name"]
      }}</a>
    </li>
  </ul>
</div>
