:host {
  border-radius: 10px;
  border: none;
  background: var(--threadsBackground);
  margin: 5px 1%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* From field */
.messageField {
  text-align: left;
  padding: 0 5px;
  margin: 0 5px;
}

.pageCategory {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  font-weight: 500;
}

/* Field text */
.pageData {
  text-align: left;
  color: var(--textColour);
  line-height: 1.5em;
  /* Responsive styling for screens above 600px width */
  @media screen and (min-width: 600px) {
    line-height: 1.8em;
  }
}

.appButton {
  line-height: normal;
}

a.appButton {
  display: flex;
  align-items: center;
}
