<header id="siteHeader">
	<h1 id="mainTitle">Title</h1>
	<nav id="navMenu">
		<a *ngFor="let tab of navTabs" [routerLink]="(tab.link)" class="navLink">{{tab.name}}</a>
		<a *ngIf="authService.authenticated" [routerLink]="['/new']" [queryParams]="{type: 'Post'}" class="navLink">New Post</a>
	</nav>
</header>

<main>
	<router-outlet></router-outlet>
	<div id="alertContainer"></div>
</main>

<footer>
	<div id="siteFooter">
		<p class="footerText" id="text">Designed and built by Shir Bar Lev.</p>
		<p class="footerText" id="contact">shirblc@gmail.com</p>
		<p class="footerText" id="rights">&copy; Shir Bar Lev 2020.</p>
	</div>
</footer>