<header id="siteHeader">
	<h1 id="mainTitle">Send a Hug</h1>
	<nav id="navMenu">
		<a *ngFor="let tab of navTabs" [routerLink]="(tab.link)" class="navLink">{{tab.name}}</a>
		<a *ngIf="authService.authenticated && !authService.userData.blocked" [routerLink]="['/new', 'Post']" class="navLink">New Post</a>
		<a *ngIf="authService.canUser('read:admin-board')" [routerLink]="['/admin']" class="navLink">Admin Dashboard</a>
	</nav>
	<form id="search">
		<label class="pageCategory" for="searchQuery" id="searchLabel">Search: </label>
		<input type="text" id="searchQuery" placeholder="Search" #searchQuery>
		<button type="submit" class="appButton sendData" (click)="searchApp($event,searchQuery.value)">Search</button>
	</form>
</header>

<main>
	<router-outlet></router-outlet>
	<div id="alertContainer"></div>
</main>

<footer>
	<div id="siteFooter">
		<p class="footerText" id="text">Open source project designed and built by <a href="https://github.com/sendahug/sendahug">Send a Hug</a> group members.</p>
		<p class="footerText" id="contact">theobjectivistb@gmail.com</p>
		<p class="footerText" id="rights">&copy; Send A Hug 2020.</p>
	</div>
</footer>
