#mainContent {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

/* =================== Footer Styling =================== */
/* Site Footer */
#siteFooter {
  width: 94%;
  max-width: 94%;
  margin: 0 2%;
}

.footerText a {
  color: var(--linkColour);
}

.footerText .textlessButton {
  color: var(--linkColour);
  background-color: var(--mainBackground);
  text-decoration: underline;
  min-width: 0;
  min-height: 0;
}
