<form id="search" role="search" [formGroup]="searchForm" (ngSubmit)="searchApp($event)">
  <button id="exitButton" aria-label="close search panel" type="button" (click)="toggleSearch()">
    <!-- prettier-ignore -->
    <fa-icon class="fa-times" [icon]="faTimes"></fa-icon>
  </button>
  <label class="pageCategory" for="searchQuery" id="searchLabel">Search: </label>
  <input
    type="text"
    id="searchQuery"
    placeholder="Search"
    minlength="1"
    formControlName="searchQuery"
  />
  <button type="submit" class="appButton sendData" id="sendSearchBtn">Search</button>
</form>
