<div id="myPosts">
	<h3>My Posts</h3>
	
	<app-loader
		[waitingFor]="waitFor"
		[user]="user"></app-loader>
	
	<!-- If the user has posts, displays them -->
	<div *ngIf="itemsService.userPosts[user].length && itemsService.isUserPostsResolved[user].value">
		<div *ngFor="let post of itemsService.userPosts[user]" class="userPost">
			<div class="postText">{{ post.text }}</div>
			<div class="postDate">{{ post.date }}</div>
			<div class="notification">
				<button class="appButton hugButton"><i class="fab fa-gratipay"></i></button>
				<span class="badge">{{ post.givenHugs }}</span>
			</div>
			<button *ngIf="(user == 'self') || (authService.canUser('patch:any-post'))" class="appButton editButton" (click)="editPost(post)">Edit</button>
			<button *ngIf="(user == 'self') || (authService.canUser('delete:any-post'))" class="appButton deleteButton" (click)="deletePost(post.id)">Delete</button>
		</div>
		<!-- Post pagination -->
		<div class="pagination">
			<button *ngIf="itemsService.userPostsPage[user] > 1" class="appButton prevButton" (click)="prevPage()">Previous Page</button>
			<button *ngIf="itemsService.userPostsPage[user] <= 1" class="appButton hidden" (click)="prevPage()">Previous Page</button>
			<div class="pageCount">Page {{ itemsService.userPostsPage[user] }} of {{ itemsService.totalUserPostsPages[user] }}</div>
			<button *ngIf="itemsService.totalUserPostsPages[user] > itemsService.userPostsPage[user]" class="appButton nextButton" (click)="nextPage()">Next Page</button>
			<button *ngIf="itemsService.totalUserPostsPages[user] <= itemsService.userPostsPage[user]" class="appButton hidden" (click)="nextPage()">Next Page</button>
		</div>
	</div>
	
	<!-- If the user doesn't have posts, displays an error message -->
	<div *ngIf="!itemsService.userPosts[user].length && itemsService.isUserPostsResolved[user].value" class="errorMessage">
		<div *ngIf="user == 'self'">You have no published posts. Write your first post now!</div>
		<div *ngIf="user == 'other'">The user hasn't published any posts yet.</div>
	</div>
</div>

<app-pop-up *ngIf="editMode"
			[editedItem]="postToEdit"
			[toEdit]="editType"
			(editMode)="changeMode($event)"></app-pop-up>