<h3 id="postsTitle">My Posts</h3>

<app-loader
		*ngIf="!itemsService.idbResolved.userPosts.value"
		[waitingFor]="waitFor"></app-loader>
	
	<app-header-message
		[waitingFor]="waitFor"
		[user]="user"></app-header-message>

<div id="myPosts">
	<!-- If the user has posts, displays them -->
	<div *ngIf="itemsService.userPosts[user].length && itemsService.idbResolved.userPosts.value" role="region">
		<ul class="itemList" aria-describedby="postsTitle">
			<li *ngFor="let post of itemsService.userPosts[user]" class="userPost" aria-describedby="postsTitle" role="article">
				<div class="postText" aria-describedby="pText" id="{{'text' + post.id}}">{{ post.text }}</div>
				<div class="postDate" aria-describedby="pDate">{{ post.date }}</div>
				<div class="labels" id="{{'user' + post.id}}">{{ post.user }}</div>
				<div class="buttons">
					<div class="notification" [attr.aria-describedby]="'pHug ' + 'user' + post.id">
						<button *ngIf="!post.sentHugs.includes(authService.userData.id.toString())" class="textlessButton hugButton" (click)="sendHug(post.id)" [attr.aria-labelledby]="'pHug ' + 'nUser' + post.id" name="send a hug"><fa-icon [icon]="faHandHoldingHeart" class="fa-hand-holding-heart"></fa-icon></button>
						<button *ngIf="post.sentHugs.includes(authService.userData.id.toString())" class="textlessButton hugButton active" [attr.aria-labelledby]="'pHug ' + 'nUser' + post.id" name="send a hug" disabled><fa-icon [icon]="faHandHoldingHeart" class="fa-hand-holding-heart"></fa-icon></button>
						<span class="badge" aria-describedby="pGivenH">{{ post.givenHugs }}</span>
					</div>
					<button *ngIf="(user == 'other')" class="textlessButton reportButton" (click)="reportPost(post)" [attr.aria-describedby]="'pReport ' + 'text' + post.id"><fa-icon [icon]="faFlag" class="fa-flag"></fa-icon></button>
					<button *ngIf="(user == 'self') || (authService.canUser('patch:any-post'))" class="textlessButton editButton" (click)="editPost(post)" [attr.aria-describedby]="'pEdit ' + 'text' + post.id">Edit</button>
					<button *ngIf="(user == 'self') || (authService.canUser('delete:any-post'))" class="textlessButton deleteButton" (click)="deletePost(post.id)" [attr.aria-describedby]="'pDelete ' + 'text' + post.id">Delete</button>
				</div>
			</li>
		</ul>
		
		<!-- Post pagination -->
		<div class="pagination" role="navigation">
			<button *ngIf="itemsService.userPostsPage[user] > 1" class="appButton prevButton" (click)="prevPage()" aria-label="previous page of user posts">Previous Page</button>
			<button *ngIf="itemsService.userPostsPage[user] <= 1" class="appButton placeHolder">Previous Page</button>
			<div class="pageCount">Page {{ page }} of {{ itemsService.totalUserPostsPages[user] }}</div>
			<button *ngIf="itemsService.totalUserPostsPages[user] > itemsService.userPostsPage[user]" class="appButton nextButton" (click)="nextPage()" aria-label="next page of user posts">Next Page</button>
			<button *ngIf="itemsService.totalUserPostsPages[user] <= itemsService.userPostsPage[user]" class="appButton placeHolder">Next Page</button>
		</div>
		<button *ngIf="(user == 'self') || (authService.canUser('delete:any-post'))" class="appButton deleteButton" (click)="deleteAllPosts()" id="deleteAll">Delete All Posts</button>
	</div>
	
	<!-- If the user doesn't have posts, displays an error message -->
	<div *ngIf="!itemsService.userPosts[user].length &&  itemsService.idbResolved.userPosts.value" class="errorMessage">
		<div *ngIf="user == 'self'">You have no published posts. Write your first post now!</div>
		<div *ngIf="user == 'other'">The user hasn't published any posts yet.</div>
	</div>
</div>

<div id="labels" class="labels" aria-hidden="true">
	<p id="pText">Post Text</p>
	<p id="pDate">Posted at</p>
	<p id="pHug">Send a hug to user</p>
	<p id="pGivenH">Hugs given to this post</p>
	<p id="pOptions">show options for post</p>
	<p id="pReport">Report post</p>
	<p id="pEdit">Edit post</p>
	<p id="pDelete">Delete post</p>
</div>

<app-pop-up *ngIf="editMode"
			[editedItem]="postToEdit"
			[toEdit]="editType"
			(editMode)="changeMode($event)"
			[delete]="delete"
			[toDelete]="toDelete"
			[itemToDelete]="itemToDelete"
			[report]="report"
			[reportedItem]="reportedItem"
			[reportType]="reportType"></app-pop-up>