<!-- If the user is logged in, displays a user page. -->
<div *ngIf="authService.authenticated" id="profileContainer">
	<app-loader
		[waitingFor]="waitFor"></app-loader>
	
	<app-header-message
		[waitingFor]="waitFor"></app-header-message>

	<div id="userPage" *ngIf="(!this.itemsService.isOtherUser && authService.isUserDataResolved.value) || (this.itemsService.isOtherUser && itemsService.idbResolved.user.value)" role="region">
		<div id="profileData">
			<div class="profileElement displayName">
				<span class="pageData" *ngIf="!itemsService.isOtherUser" aria-describedby="userName">{{ authService.userData.displayName }}</span> 
				<span class="pageData" *ngIf="itemsService.isOtherUser" aria-describedby="userName">{{ itemsService.otherUserData.displayName }} 
					<button class="textlessButton hugButton" (click)="sendHug(itemsService.otherUserData.id)" aria-describedby="uHug userName">
						<i class="fab fa-gratipay"></i>
					</button>
				</span>
			</div>
			<div class="profileElement" id="roleElement">
				<span class="pageCategory" id="userRole">Role:</span> <span class="pageData" *ngIf="!itemsService.isOtherUser" aria-describedby="userName userRole">{{ authService.userData.role }}</span><span class="pageData" *ngIf="itemsService.isOtherUser" aria-describedby="userName userRole">{{ itemsService.otherUserData.role }}</span>
			</div>
			<div class="profileElement" id="rHugsElement">
				<div class="pageData" *ngIf="!itemsService.isOtherUser" aria-describedby="userName uReceived">{{ authService.userData.receivedHugs }}</div> <div class="pageData" *ngIf="itemsService.isOtherUser" aria-describedby="userName uReceived">{{ itemsService.otherUserData.receivedHugs }}</div>
				<div class="pageCategory">Hugs Received</div>
			</div>
			<div class="profileElement" id="gHugsElement">
				<div class="pageData" *ngIf="!itemsService.isOtherUser" aria-describedby="userName uGivenH">{{ authService.userData.givenHugs }}</div> <div class="pageData" *ngIf="itemsService.isOtherUser" aria-describedby="userName uGivenH">{{ itemsService.otherUserData.givenHugs }}</div>
				<div class="pageCategory">Hugs Given</div>
			</div>
			<div class="profileElement" id="postsElement">
				<div class="pageData" *ngIf="!itemsService.isOtherUser" aria-describedby="uNumP userName">{{ authService.userData.postsNum }}</div> <div class="pageData" *ngIf="itemsService.isOtherUser" aria-describedby="uNumP userName">{{ itemsService.otherUserData.postsNum }}</div>
				<div class="pageCategory">Posts Written</div>
			</div>
			
			<button id="editName" class="appButton" (click)="editName()" *ngIf="!itemsService.isOtherUser" aria-describedby="userName">Edit Display Name</button>
			<button class="appButton reportButton" (click)="reportUser(itemsService.otherUserData)" *ngIf="itemsService.isOtherUser" aria-describedby="userName">Report User</button>
		</div>

		<app-my-posts
					  [userID]="userId"></app-my-posts>
		
		<button id="logout" class="appButton" (click)="logout()" *ngIf="!itemsService.isOtherUser">Log Out</button>
	</div>
</div>

<!-- If the user isn't logged in, prompts the user to log in. -->
<div  id="loginBox" *ngIf="!authService.authenticated">
	<div class="errorMessage">You are not currently logged in. To view user information, log in.</div>

	<button id="logIn" class="appButton" (click)="login()">Login</button>
</div>

<div id="labels" class="labels" aria-hidden="true">
	<p id="uHug">Send a hug to user</p>
	<p id="uGivenH">Hugs given by user</p>
	<p id="uReceived">Hugs received by user</p>
	<p id="uNumP">Number of posts written by user</p>
	<p id="pEdit">Edit post</p>
	<p id="pDelete">Delete post</p>
</div>

<app-pop-up *ngIf="editMode"
			[editedItem]="userToEdit"
			[toEdit]="editType"
			(editMode)="changeMode($event)"
			[report]="report"
			[reportedItem]="reportedItem"
			[reportType]="reportType"></app-pop-up>