<!-- If the user is logged in, displays a user page. -->
<div *ngIf="authService.authenticated()" id="profileContainer">
	<app-loader
		*ngIf="!isIdbFetchResolved()"
		[waitingFor]="waitFor"></app-loader>
	
	<app-header-message
		*ngIf="!isServerFetchResolved()"
		[waitingFor]="waitFor"></app-header-message>

	<div id="userPage" *ngIf="isIdbFetchResolved()" role="region">
		<div id="profileData">
			<div id="profilePic">
				<div *ngIf="displayUser().selectedIcon == 'kitty'">
					<img src="../../../assets/img/kitty.svg" alt="" class="userIcon" >
				</div>
				<div *ngIf="displayUser().selectedIcon == 'dog'">
					<img src="../../../assets/img/dog.svg" alt="" class="userIcon" >
				</div>
				<div *ngIf="displayUser().selectedIcon == 'bear'">
					<img src="../../../assets/img/bear.svg" alt=""  class="userIcon" >
				</div>	
			</div>
			<div id="userNameRole">
				<div class="displayName">
					<span class="pageData" aria-describedby="userName">{{ displayUser().displayName }}</span> 
					<span class="pageData" *ngIf="isOtherUserProfile()" aria-describedby="userName">
						<button class="textlessButton hugButton" (click)="sendHug(otherUser().id)" aria-describedby="uHug userName">
							<fa-icon [icon]="faGratipay" class="fa-gratipay"></fa-icon>
						</button>
					</span>
				</div>
				<div id="roleElement">
					<span class="pageCategory" id="userRole">Role:</span><span class="pageData" aria-describedby="userName userRole">{{ displayUser().role.name }}</span>
				</div>
			</div>
			<div class="profileElement" id="rHugsElement">
				<div class="pageData" aria-describedby="userName uReceived">{{ displayUser().receivedH }}</div>
				<div class="pageCategory">Hugs Received</div>
			</div>
			<div class="profileElement" id="gHugsElement">
				<div class="pageData" aria-describedby="userName uGivenH">{{ displayUser().givenH }}</div>
				<div class="pageCategory">Hugs Given</div>
			</div>
			<div class="profileElement" id="postsElement">
				<div class="pageData" aria-describedby="uNumP userName">{{ displayUser().posts }}</div>
				<div class="pageCategory">Posts Written</div>
			</div>
			
			<div class="buttons">
				<button id="editName" class="appButton" (click)="editName()" *ngIf="!isOtherUserProfile()" [attr.aria-label]="'edit display name for user ' + displayUser().displayName">Edit Display Name</button>
				<a [routerLink]="['/settings']" id="settingsLink" class="appButton" *ngIf="!isOtherUserProfile()" [attr.aria-label]="'go to user settings page for user ' + displayUser().displayName">User Settings</a>
				<button class="appButton reportButton" (click)="reportUser(otherUser())" *ngIf="isOtherUserProfile()" [attr.aria-label]="'report user ' + displayUser().displayName">Report User</button>
				<button id="logout" class="appButton" (click)="logout()" *ngIf="!isOtherUserProfile()">Log Out</button>
			</div>
		</div>

		<app-my-posts
					  [userID]="userId"></app-my-posts>
	</div>
</div>

<!-- If the user isn't logged in, prompts the user to log in. -->
<div  id="loginBox" *ngIf="!authService.authenticated()">
	<div class="errorMessage">You are not currently logged in. To view user information, log in.</div>

	<button id="logIn" class="appButton" (click)="login()">Login</button>
</div>

<div id="labels" class="labels" aria-hidden="true">
	<p id="uHug">Send a hug to user</p>
	<p id="uGivenH">Hugs given by user</p>
	<p id="uReceived">Hugs received by user</p>
	<p id="uNumP">Number of posts written by user</p>
	<p id="pEdit">Edit post</p>
	<p id="pDelete">Delete post</p>
</div>
		
<report-form
	*ngIf="reportMode"
	(reportMode)="changeMode($event, 'Report')"
	[reportedItem]="reportedItem"
	[reportType]="reportType"
></report-form>

<display-name-edit-form
	*ngIf="editMode"
	[editedItem]="userToEdit"
	[toEdit]="editType"
	(editMode)="changeMode($event, 'Edit')"
></display-name-edit-form>
