<!-- If the user is logged in, displays a user page. -->
<div *ngIf="loggedIn">
	<div id="userPage">
		<div class="pageCategory">Username:</div> <div class="pageData">{{ userData.displayName }}</div>
		<div class="pageCategory">Received Hugs:</div> <div class="pageData">{{ userData.receivedH }}</div>
		<div class="pageCategory">Given Hugs:</div> <div class="pageData">{{ userData.givenH }}</div>
		<div class="pageCategory">Posts:</div> <div class="pageData">{{ userData.postsNum }}</div>

		<app-my-posts></app-my-posts>

		<a href="" id="logOut">Log Out</a>
	</div>
</div>

<!-- If the user isn't logged in, prompts the user to log in. -->
<div  id="loginBox" *ngIf="!loggedIn">
	<div class="errorMessage">You are not currently logged in. To view user information, log in.</div>

	<button id="logIn" class="appButton" (click)="login()">Login</button>
</div>
