<form [formGroup]="postEditForm" id="postEdit" class="postEdit">
  <div class="formElement">
    <span class="pageCategory">By:</span> <span class="pageData" aria-describedby="pUser">{{ editedItem.user }}</span>
  </div>
  <div class="formElement" aria-describedby="pDate">{{ editedItem.date }}</div>
  <div class="formElement">
    <label class="pageCategory required" for="postText">Post Text:</label>
    <br>
    <textarea
      formControlName="postText"
      id="postText"
      cols="40"
      rows="8"
      aria-describedby="pText"
      minlength="0"
      maxlength="480"
      required
      [attr.aria-invalid]="!this.postEditForm.get('postText')?.valid"
      aria-required="true"
    ></textarea>
  </div>
  <!-- If the user is editing a post from anywhere else -->
  <button
    *ngIf="!isAdmin"
    type="submit"
    class="appButton sendData"
    (click)="editPost($event, null)"
    [attr.aria-label]="'update post ' + editedItem.text">
      Update Post
  </button>
  <!-- If the user is editing a post from the report's page -->
  <button
    *ngIf="isAdmin"
    type="submit"
    class="appButton sendData"
    id="updateAndClose"
    (click)="editPost($event, true)">
      Update Post and Close Report
  </button>
  <button
    *ngIf="isAdmin"
    type="submit"
    class="appButton sendData"
    id="updateDontClose"
    (click)="editPost($event, false)">
      Update Post without Closing Report
  </button>
</form>
