<app-pop-up *teleport="'modalContainer'" (editMode)="editMode.emit(false)">
  <form id="postEdit" class="postEdit" [formGroup]="postEditForm">
    <div class="formElement">
      <span class="pageCategory">By:</span>
      <span class="pageData" aria-describedby="pUser">{{ editedItem().user }}</span>
    </div>
    <div class="formElement" aria-describedby="pDate">{{ editedItem().date }}</div>
    <div class="formElement">
      <label class="pageCategory required" for="postText">Post Text:</label>
      <br />
      <textarea
        formControlName="postText"
        id="postText"
        cols="40"
        rows="8"
        aria-describedby="pText"
        minlength="0"
        maxlength="480"
        required
        aria-required="true"
        [attr.aria-invalid]="!this.postEditForm.controls.postText.valid"
      ></textarea>
    </div>
    <!-- If the user is editing a post from anywhere else -->
    <button
      *ngIf="!isAdmin()"
      type="submit"
      class="appButton sendData"
      [attr.aria-label]="'update post ' + editedItem().text"
      (click)="editPost($event, null)"
    >
      Update Post
    </button>
    <!-- If the user is editing a post from the report's page -->
    <button
      *ngIf="isAdmin()"
      type="submit"
      class="appButton sendData"
      id="updateAndClose"
      (click)="editPost($event, true)"
    >
      Update Post and Close Report
    </button>
    <button
      *ngIf="isAdmin()"
      type="submit"
      class="appButton sendData"
      id="updateDontClose"
      (click)="editPost($event, false)"
    >
      Update Post without Closing Report
    </button>
  </form>
</app-pop-up>
