<!-- New items -->
<div id="newItems" class="itemList">
	<ul id="newItemsList">
		<li *ngFor="let item of newItemsArray" class="newItem">
			<div class="itemText">{{ item.text }}</div>
			<div class="itemUser">By {{ item.user }}</div>
			<button class="appButton hugButton" (click)="sendHug(item.id)"><i class="fas fa-hand-holding-heart"></i></button>
			<a [routerLink]="['/new']" [queryParams]="{type: 'Message', userID: item.user}" class="appButton messageButton"><i class="fas fa-comments"></i></a>
		</li>
	</ul>
</div>

<!-- Suggested items -->
<div id="suggestedItems" class="itemList">
	<ul id="sugItemsList">
		<li *ngFor="let item of sugItemsArray" class="sugItem">
			<div class="itemText">{{ item.text }}</div>
			<div class="itemUser">By {{ item.user }}</div>
			<button class="appButton hugButton" (click)="sendHug(item.id)"><i class="fas fa-hand-holding-heart"></i></button>
			<a [routerLink]="['/new']" [queryParams]="{type: 'Message', userID: item.user}" class="appButton messageButton"><i class="fas fa-comments"></i></a>
		</li>
	</ul>
</div>
