<!-- New items -->
<div id="newItems" class="listContainer">
	<h2 class="listTitle">New Items</h2>
	<!-- If there are items in the list -->
	<ul class="itemList" *ngIf="itemsService.newItemsArray.length > 0">
		<li *ngFor="let item of itemsService.newItemsArray" class="newItem">
			<div class="itemText">{{ item.text }}</div>
			<div class="itemUser">By {{ item.user }}</div>
			<button class="appButton hugButton" (click)="sendHug(item.id)"><i class="fab fa-gratipay"></i></button>
			<a [routerLink]="['/new', 'Message']" [queryParams]="{user: item.user, userID: item.userId}" class="appButton messageButton"><i class="fas fa-comments"></i></a>
		</li>
	</ul>
	<a [routerLink]="['/list', 'New']" [queryParams]="{page: 1}" class="appButton">View Full List</a>
	
	<!-- If there are no items in the list -->
	<div class="errorMessage" *ngIf="itemsService.newItemsArray.length == 0">There are no recent items.</div>
</div>

<!-- Suggested items -->
<div id="suggestedItems" class="listContainer">
	<h2 class="listTitle">Suggested Items</h2>
	<!-- If there are items in the list -->
	<ul class="itemList" *ngIf="itemsService.sugItemsArray.length > 0">
		<li *ngFor="let item of itemsService.sugItemsArray" class="sugItem">
			<div class="itemText">{{ item.text }}</div>
			<div class="itemUser">By {{ item.user }}</div>
			<button class="appButton hugButton" (click)="sendHug(item.id)"><i class="fab fa-gratipay"></i></button>
			<a [routerLink]="['/new', 'Message']" [queryParams]="{user: item.user, userID: item.userId}" class="appButton messageButton"><i class="fas fa-comments"></i></a>
		</li>
	</ul>
	<a [routerLink]="['/list', 'Suggested']" [queryParams]="{page: 1}" class="appButton">View Full List</a>

	<!-- If there are no items in the list -->
	<div class="errorMessage" *ngIf="itemsService.sugItemsArray.length == 0">There are no suggested items.</div>
</div>
