<div  id="loginBox" *ngIf="!authService.authenticated()">
	<div class="errorMessage">You are not currently logged in. To view user information, log in.</div>

	<button id="logIn" class="appButton" (click)="login()">Login</button>
</div>

<div id="logoutBox" *ngIf="authService.authenticated()">
  <div class="errorMessage">You are already logged in!</div>

  <div class="errorMessage">You are currently logged in as {{ authService.userData.displayName }}.</div>
  
  <button id="logout" class="appButton" (click)="logout()">Log Out</button>
</div>
