<div id="{{ postId() }}" class="itemText" [attr.aria-describedby]="'pText' + postId()">
  {{ _post()?.text }}
</div>
<div class="itemUser">
  By
  <a
    id="{{ type + 'User' + _post()?.id }}"
    class="profileLink"
    [routerLink]="['/user', _post()?.userId]"
    [attr.aria-describedby]="'pUser' + postId()"
    >{{ _post()?.user }}</a
  >
</div>
<div class="itemDate" [attr.aria-describedby]="'pDate' + postId()">{{ _post()?.date }}</div>
<div [ngClass]="buttonsContainerClass()">
  <div class="notification" [attr.aria-describedby]="'pHug' + postId()">
    <button
      name="send a hug"
      [ngClass]="sendHugButtonClass()"
      [attr.aria-labelledby]="'pHug' + postId()"
      [disabled]="shouldDisableHugBtn()"
      (click)="sendHug()"
    >
      <!-- prettier-ignore -->
      <fa-icon class="fa-hand-holding-heart" [icon]="faHandHoldingHeart"></fa-icon>
    </button>
    <span class="badge" [attr.aria-describedby]="'pGivenH' + postId()">{{
      _post()?.givenHugs
    }}</span>
  </div>
  <button
    name="post options"
    [ngClass]="menuButtonClass()"
    [attr.aria-labelledby]="'pOptions' + postId()"
    (click)="toggleOptions()"
  >
    <!-- prettier-ignore -->
    <fa-icon class="fa-comment" [icon]="faEllipsisV"></fa-icon>
  </button>
  <div [ngClass]="subMenuClass()">
    <a
      *ngIf="authService.userData() && authService.userData()!.id !== _post()?.userId"
      class="textlessButton messageButton"
      name="send a message"
      [routerLink]="['/new', 'Message']"
      [queryParams]="{ user: _post()?.user, userID: _post()?.userId }"
      [attr.aria-labelledby]="'pMessage' + postId()"
    >
      <!-- prettier-ignore -->
      <fa-icon class="fa-comment" [icon]="faComment"></fa-icon>
    </a>
    <span
      *ngIf="!(authService.userData() && authService.userData()!.id !== _post()?.userId)"
      class="textlessButton messageButton disabled"
    >
      <!-- prettier-ignore -->
      <fa-icon class="fa-comment" [icon]="faComment"></fa-icon>
    </span>
    <button
      name="report"
      [ngClass]="reportButtonClass()"
      [attr.aria-labelledby]="'pReport' + postId()"
      [disabled]="!(authService.userData() && authService.userData()!.id !== _post()?.userId)"
      (click)="reportPost()"
    >
      <!-- prettier-ignore -->
      <fa-icon class="fa-flag" [icon]="faFlag"></fa-icon>
    </button>
    <button
      *ngIf="
        authService.canUser('patch:any-post') ||
        (authService.userData() && authService.userData()!.id === _post()?.userId)
      "
      class="textlessButton editButton"
      [attr.aria-labelledby]="'pEdit' + postId()"
      (click)="editPost()"
    >
      <!-- prettier-ignore -->
      <fa-icon class="fa-edit" [icon]="faEdit"></fa-icon>
    </button>
    <button
      *ngIf="
        authService.canUser('delete:any-post') ||
        (authService.userData() && authService.userData()!.id === _post()?.userId)
      "
      class="textlessButton deleteButton"
      [attr.aria-labelledby]="'pDelete' + postId()"
      (click)="deletePost()"
    >
      <!-- prettier-ignore -->
      <fa-icon class="fa-times" [icon]="faTrashCan"></fa-icon>
    </button>
  </div>
</div>

<item-delete-form
  *ngIf="deleteMode()"
  [deleteEndpoint]="deleteEndpoint"
  [itemType]="itemType"
  [itemId]="_post()!.id"
  (editMode)="changeMode($event, 'Delete')"
  (deleted)="deletedId.emit(_post()!.id)"
></item-delete-form>

<post-edit-form
  *ngIf="editMode()"
  [editedItem]="_post()!"
  (editMode)="changeMode($event, 'Edit')"
  (updateResult)="updatePostText($event)"
></post-edit-form>

<report-form
  *ngIf="reportMode()"
  [reportedItem]="_post()!"
  [reportType]="reportType"
  (reportMode)="changeMode($event, 'Report')"
></report-form>

<app-send-hug-form
  *ngIf="sendMessageMode()"
  [forUsername]="_post()!.user"
  [forID]="_post()!.userId"
  [postID]="_post()!.id"
  (sendMode)="changeMode($event, 'Message')"
></app-send-hug-form>

<div id="labels" class="labels" aria-hidden="true">
  <p [id]="'pText' + postId()">Post Text</p>
  <p [id]="'pUser' + postId()">Post Writer</p>
  <p [id]="'pDate' + postId()">Posted at</p>
  <p [id]="'pHug' + postId()">{{ "Send a hug to user for post" + _post()?.text }}</p>
  <p [id]="'pGivenH' + postId()">Hugs given to this post</p>
  <p [id]="'pOptions' + postId()">{{ "show options for post" + _post()?.text }}</p>
  <p [id]="'pMessage' + postId()">{{ "Send a message to user" + _post()?.user }}</p>
  <p [id]="'pReport' + postId()">{{ "Report post" + _post()?.text }}</p>
  <p [id]="'pEdit' + postId()">{{ "Edit post" + _post()?.text }}</p>
  <p [id]="'pDelete' + postId()">{{ "Delete post" + _post()?.text }}</p>
</div>
