<!-- New items -->
<div id="newItems" class="listContainer">
  <h1 class="listTitle" id="newTitle">New Items</h1>

  <app-loader
    *ngIf="isLoading()"
    [loadingMessage]="'Fetching posts...'"
    [idSuffix]="'new'"
  ></app-loader>

  <!-- If there are items in the list -->
  <ul
    *ngIf="newPosts().length > 0 && !isLoading()"
    class="itemList"
    aria-describedby="newTitle"
    id="newItemsList"
  >
    <li *ngFor="let item of newPosts()" class="newItem" aria-describedby="newTitle">
      <app-single-post
        [post]="item"
        [type]="'n'"
        (deletedId)="removeDeletedPost($event)"
      ></app-single-post>
    </li>
  </ul>

  <!-- If there are no items in the list -->
  <div *ngIf="newPosts().length === 0 && !isLoading()" class="errorMessage">
    There are no recent items.
  </div>

  <a
    class="textlessButton fullButton"
    role="navigation"
    aria-label="View full list of new items"
    [routerLink]="['/list', 'New']"
    [queryParams]="{ page: 1 }"
    >View Full 'New' List</a
  >
</div>

<!-- Suggested items -->
<div id="suggestedItems" class="listContainer">
  <h1 class="listTitle" id="sugTitle">Suggested Items</h1>

  <app-loader
    *ngIf="isLoading()"
    [loadingMessage]="'Fetching posts...'"
    [idSuffix]="'sug'"
  ></app-loader>

  <!-- If there are items in the list -->
  <ul
    *ngIf="suggestedPosts().length > 0 && !isLoading()"
    class="itemList"
    aria-describedby="sugTitle"
    id="sugItemsList"
  >
    <li *ngFor="let item of suggestedPosts()" class="sugItem" aria-describedby="sugTitle">
      <app-single-post
        [post]="item"
        [type]="'s'"
        (deletedId)="removeDeletedPost($event)"
      ></app-single-post>
    </li>
  </ul>

  <!-- If there are no items in the list -->
  <div *ngIf="suggestedPosts().length === 0 && !isLoading()" class="errorMessage">
    There are no suggested items.
  </div>

  <a
    class="textlessButton fullButton"
    role="navigation"
    aria-label="View full list of suggested items"
    [routerLink]="['/list', 'Suggested']"
    [queryParams]="{ page: 1 }"
    >View Full 'Suggested' List</a
  >
</div>
