/* Colour Palette */
/* Component Sample */
/* line 9, ../sass/styles.sass */
#compSample, app-main-page, app-user-page, app-messages, app-new-item, app-error-page { position: relative; top: 110px; }

/* Frame Sample */
/* line 14, ../sass/styles.sass */
#frameSample, .itemList, app-user-page > div, app-messages > div { border: thin solid #252525; border-radius: 5px; }

/* Error message sample */
/* line 19, ../sass/styles.sass */
#errorMessBox, #loginBox { padding: 10px; width: 80%; margin: 5px 10%; }

/* =================== General Styling =================== */
/* line 25, ../sass/styles.sass */
img, picture, video, embed, textarea, textfield { max-width: 100%; }

/* App button */
/* line 29, ../sass/styles.sass */
.appButton { background-color: #a3cad7; color: #161616; padding: 5px; }

/* =================== Header Styling =================== */
/* Site Header */
/* line 36, ../sass/styles.sass */
#siteHeader { width: 100%; max-width: 100%; background-color: #a3cad7; position: fixed; top: 0; left: 0; height: 110px; }

/* Main Title */
/* line 46, ../sass/styles.sass */
#mainTitle { color: #252525; text-align: center; padding: 10px 5px 0; margin: 10px 5px; }

/* Navigation Menu */
/* line 53, ../sass/styles.sass */
#navMenu { width: 80%; max-width: 80%; padding: 5px 10% 10px; display: flex; align-content: space-between; justify-content: space-between; }

/* Navigation Item */
/* line 62, ../sass/styles.sass */
.navLink { color: #3f3a3a; font-size: 18px; }

/* =================== Main Page Styling =================== */
/* Main Page Component */
/* line 68, ../sass/styles.sass */
app-main-page { display: flex; padding: 5px; align-content: space-between; justify-content: space-between; }

/* Item list container */
/* line 76, ../sass/styles.sass */
.listContainer { width: 45%; height: 70%; margin: 5px 10px; }

/* Item List Title */
/* line 82, ../sass/styles.sass */
.listTitle { color: #252525; font-size: 20px; text-align: center; }

/* Item List */
/* line 88, ../sass/styles.sass */
.itemList { height: 90%; }

/* =================== User Page Styling =================== */
/* User Page Component */
/* User / Error Message Container */
/* line 98, ../sass/styles.sass */
app-user-page > div { width: 80%; max-width: 80%; margin-right: 10%; margin-left: 10%; }

/* User Page Title */
/* line 106, ../sass/styles.sass */
app-user-page h3 { text-align: center; }

/* User Page */
/* line 110, ../sass/styles.sass */
#userPage { display: flex; flex-wrap: wrap; align-content: space-between; justify-content: space-between; padding: 15px 8%; }

/* User Profile */
/* line 118, ../sass/styles.sass */
#profileData { order: 0; width: 35%; }

/* User Page Field Container */
/* line 123, ../sass/styles.sass */
.profileElement { padding: 10px 0; }

/* User Page Field Title */
/* line 127, ../sass/styles.sass */
.pageCategory { font-size: 16px; font-weight: bold; margin: 0 5px; color: #252525; }

/* User Page Field Text */
/* line 134, ../sass/styles.sass */
.pageData { font-size: 16px; color: #161616; }

/* User Posts */
/* line 139, ../sass/styles.sass */
app-my-posts { order: 2; width: 50%; align-self: flex-start; }

/* Logout button */
/* line 145, ../sass/styles.sass */
#logout { order: 3; margin: 20px 40% 0; }

/* Login div */
/* =================== Messages Page Styling =================== */
/* Message Page Component */
/* line 155, ../sass/styles.sass */
app-messages { width: 80%; }

/* Inbox / Error Message Container */
/* Login div */
/* Error Message Text */
/* line 168, ../sass/styles.sass */
.errorMessage { text-align: center; padding-bottom: 5px; padding-top: 10px; }

/* Login Link */
/* line 174, ../sass/styles.sass */
#logIn { text-align: center; margin: 10px Calc((100% - 50px) / 2); color: #3f3a3a; }

/* =================== New Item Page Styling =================== */
/* New Item Page Component */
/* =================== Error Page Styling =================== */
/* Error Page Component */
/* =================== Alert Styling =================== */
/* Base Alert */
/* line 191, ../sass/styles.sass */
.alertMessage { width: 70%; box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5); border-radius: 5px; text-align: center; padding: 10px; position: fixed; bottom: 50px; left: 0; right: 0; margin-right: 15%; margin-left: 15%; z-index: 100; }

/* Alert Title */
/* line 206, ../sass/styles.sass */
.alertType { margin: 0; padding: 5px; }

/* Alert Text */
/* line 211, ../sass/styles.sass */
.alertText { font-size: 16px; }

/* Alert Button */
/* line 215, ../sass/styles.sass */
#alertButton { margin: 10px; border-radius: 5px; }

/* Success Alert */
/* line 220, ../sass/styles.sass */
.Success { background-color: rgba(46, 161, 60, 0.9); }

/* Error Alert */
/* line 224, ../sass/styles.sass */
.Error { background-color: rgba(203, 72, 72, 0.95); }

/* =================== Footer Styling =================== */
/* Site Footer */
/* line 229, ../sass/styles.sass */
#siteFooter { position: fixed; bottom: 0; left: 0; width: 100%; max-width: 100%; }

/* Footer text */
/* line 237, ../sass/styles.sass */
.footerText { text-align: center; font-size: 14px; padding: 0; margin: 10px; color: #161616; }

/*# sourceMappingURL=styles.css.map */
