/* Colour Palette */
/* Component Sample */
/* line 9, ../sass/styles.sass */
#compSample, app-main-page, app-user-page, app-messages, app-new-item, app-error-page { position: absolute; top: 115px; bottom: 100px; overflow-y: scroll; }

/* Frame Sample */
/* line 16, ../sass/styles.sass */
#frameSample, .itemList, .newItem, .sugItem, app-user-page > div, .userPost, app-messages > div, #errorPage { border: thin solid #252525; border-radius: 5px; overflow-y: scroll; }

/* Error message sample */
/* line 22, ../sass/styles.sass */
#errorMessBox, #loginBox { padding: 10px; width: 80%; margin: 5px Calc((20% - 20px) / 2); }

/* =================== General Styling =================== */
/* line 28, ../sass/styles.sass */
img, picture, video, embed, textarea, textfield { max-width: 100%; }

/* App button */
/* line 32, ../sass/styles.sass */
.appButton { background-color: #a3cad7; color: #161616; padding: 5px; }

/* =================== Header Styling =================== */
/* Site Header */
/* line 39, ../sass/styles.sass */
#siteHeader { width: 100%; max-width: 100%; background-color: #a3cad7; position: fixed; top: 0; left: 0; height: 110px; }

/* Main Title */
/* line 49, ../sass/styles.sass */
#mainTitle { color: #252525; text-align: center; padding: 10px 5px 0; margin: 10px 5px; }

/* Navigation Menu */
/* line 56, ../sass/styles.sass */
#navMenu { width: 80%; max-width: 80%; padding: 5px 10% 10px; display: flex; align-content: space-between; justify-content: space-between; }

/* Navigation Item */
/* line 65, ../sass/styles.sass */
.navLink { color: #3f3a3a; font-size: 18px; }

/* =================== Main Page Styling =================== */
/* Main Page Component */
/* line 71, ../sass/styles.sass */
app-main-page { display: flex; padding: 5px; left: 0; right: 0; align-content: space-between; justify-content: space-between; }

/* Item list container */
/* line 81, ../sass/styles.sass */
.listContainer { width: 45%; height: 90%; margin: 0 10px; }

/* Item List Title */
/* line 87, ../sass/styles.sass */
.listTitle { color: #252525; font-size: 20px; text-align: center; padding-top: 5px; margin-top: 5px; }

/* Item List */
/* line 95, ../sass/styles.sass */
.itemList { height: 90%; padding-left: 0; }

/* New & Suggested Item */
/* line 101, ../sass/styles.sass */
.newItem, .sugItem { margin: 8px; padding: 5px; display: flex; flex-wrap: wrap; }

/* Item Text */
/* line 109, ../sass/styles.sass */
.itemText { order: 0; text-align: center; font-size: 17.5px; width: 80%; margin: 5px; padding: 0 10%; }

/* Item User */
/* line 118, ../sass/styles.sass */
.itemUser { order: 1; text-align: center; font-size: 15.5px; width: 80%; margin: 5px; padding: 0 10%; }

/* Send Hug Button */
/* line 127, ../sass/styles.sass */
.hugButton { order: 2; margin: 5px Calc((100% - 60px) / 4); padding: 6px; width: 28px; border: none; }

/* Send Hug Button icon */
/* line 135, ../sass/styles.sass */
.fa-gratipay { font-size: 16px; }

/* Send Message Button */
/* line 139, ../sass/styles.sass */
.messageButton { order: 3; margin: 5px Calc((100% - 60px) / 4); }

/* Send Message Button icon */
/* line 144, ../sass/styles.sass */
.fa-comments { font-size: 16px; }

/* =================== User Page Styling =================== */
/* User Page Component */
/* line 149, ../sass/styles.sass */
app-user-page { width: 100%; left: 0; right: 0; }

/* User / Error Message Container */
/* line 156, ../sass/styles.sass */
app-user-page > div { width: 90%; max-width: 90%; margin: 10px 5%; }

/* User Page Title */
/* line 163, ../sass/styles.sass */
app-user-page h3 { text-align: center; margin-top: 5px; padding-top: 5px; }

/* User Page */
/* line 169, ../sass/styles.sass */
#userPage { display: flex; flex-wrap: wrap; align-content: space-between; justify-content: space-between; padding: 0 3%; }

/* User Profile */
/* line 177, ../sass/styles.sass */
#profileData { order: 0; width: 35%; }

/* User Page Field Container */
/* line 182, ../sass/styles.sass */
.profileElement { padding: 10px 0; }

/* User Page Field Title */
/* line 186, ../sass/styles.sass */
.pageCategory { font-size: 16px; font-weight: bold; margin: 0 5px; color: #252525; }

/* User Page Field Text */
/* line 193, ../sass/styles.sass */
.pageData { font-size: 16px; color: #161616; }

/* User Posts */
/* line 198, ../sass/styles.sass */
app-my-posts { order: 2; width: 55%; align-self: flex-start; }

/* User Post */
/* line 204, ../sass/styles.sass */
.userPost { padding: 5px; margin: 5px; }

/* Post text */
/* line 210, ../sass/styles.sass */
.postText { text-align: center; font-size: 18px; }

/* Post date */
/* line 215, ../sass/styles.sass */
.postDate { text-align: center; font-size: 14px; }

/* Post buttons */
/* line 220, ../sass/styles.sass */
.editButton, .deleteButton { margin: 10px Calc((100% - 90px) / 4); }

/* Logout button */
/* line 224, ../sass/styles.sass */
#logout { order: 3; margin: 10px 40%; }

/* Login div */
/* line 229, ../sass/styles.sass */
#loginBox { padding: 10px 15px; margin: 5px Calc((20% - 30px) / 2); }

/* =================== Messages Page Styling =================== */
/* Message Page Component */
/* line 236, ../sass/styles.sass */
app-messages { width: 100%; left: 0; right: 0; }

/* Page Headline */
/* line 243, ../sass/styles.sass */
app-messages > h3 { text-align: center; color: #252525; font-size: 20px; }

/* Inbox / Error Message Container */
/* line 249, ../sass/styles.sass */
app-messages > div { width: 90%; margin: 10px 5%; }

/* A Message */
/* line 255, ../sass/styles.sass */
.userMessage { width: 90%; border-bottom: thin solid; margin: 0 5%; }

/* From field */
/* line 261, ../sass/styles.sass */
.messageField { text-align: center; padding: 5px; margin: 5px; }

/* Field title */
/* line 267, ../sass/styles.sass */
.pageCategory { text-align: center; color: #252525; }

/* Field text */
/* line 272, ../sass/styles.sass */
.pageData { text-align: center; color: #161616; }

/* Login div */
/* Error Message Text */
/* line 281, ../sass/styles.sass */
.errorMessage { text-align: center; padding-bottom: 5px; padding-top: 10px; }

/* Login Link */
/* line 287, ../sass/styles.sass */
#logIn { text-align: center; margin: 10px Calc((100% - 50px) / 2); color: #3f3a3a; }

/* =================== New Item Page Styling =================== */
/* New Item Page Component */
/* line 294, ../sass/styles.sass */
app-new-item { width: 100%; left: 0; right: 0; }

/* New Item frame */
/* line 301, ../sass/styles.sass */
#newItem { width: 90%; margin: 10px 5%; }

/* New Item title */
/* line 306, ../sass/styles.sass */
#newItem h3 { text-align: center; color: #252525; font-size: 20px; padding: 10px; margin: 0; }

/* New Item field + title */
/* line 314, ../sass/styles.sass */
.formElement { text-align: center; color: #161616; padding: 7px 2px; width: 100%; }

/* New Item field button */
/* line 321, ../sass/styles.sass */
.sendData { padding: 5px; margin: 10px Calc((100% - 28px) / 2); font-size: 14px; }

/* =================== Error Page Styling =================== */
/* Error Page Component */
/* Error Page frame */
/* line 332, ../sass/styles.sass */
#errorPage { width: 80%; margin: 15px 10%; }

/* Error Page title */
/* line 338, ../sass/styles.sass */
#errorPage h3 { text-align: center; color: #252525; font-size: 20px; padding: 10px; margin: 0; }

/* Error Page text */
/* line 346, ../sass/styles.sass */
.pageData { text-align: center; color: #161616; font-size: 16px; padding: 10px 2px; }

/* Error Page error code */
/* line 353, ../sass/styles.sass */
#errorCode { text-align: center; color: #161616; font-size: 13px; padding: 10px 2px; }

/* Go Back Button */
/* line 360, ../sass/styles.sass */
#backBtn { padding: 2px; margin: 7px Calc((100% - 20px) / 2); }

/* Arrow in Go Back Button */
/* line 365, ../sass/styles.sass */
.fa-arrow-alt-circle-left { font-size: 18px; }

/* =================== Alert Styling =================== */
/* Base Alert */
/* line 370, ../sass/styles.sass */
.alertMessage { width: 70%; box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5); border-radius: 5px; text-align: center; padding: 10px; position: fixed; bottom: 50px; left: 0; right: 0; margin-right: 15%; margin-left: 15%; z-index: 100; }

/* Alert Title */
/* line 385, ../sass/styles.sass */
.alertType { margin: 0; padding: 5px; }

/* Alert Text */
/* line 390, ../sass/styles.sass */
.alertText { font-size: 16px; }

/* Alert Button */
/* line 394, ../sass/styles.sass */
#alertButton { margin: 10px; border-radius: 5px; }

/* Success Alert */
/* line 399, ../sass/styles.sass */
.Success { background-color: rgba(46, 161, 60, 0.9); }

/* Error Alert */
/* line 403, ../sass/styles.sass */
.Error { background-color: rgba(203, 72, 72, 0.95); }

/* =================== Footer Styling =================== */
/* Site Footer */
/* line 408, ../sass/styles.sass */
#siteFooter { position: fixed; bottom: 0; left: 0; width: 100%; max-width: 100%; }

/* Footer text */
/* line 416, ../sass/styles.sass */
.footerText { text-align: center; font-size: 14px; padding: 0; margin: 10px; color: #161616; }

/*# sourceMappingURL=styles.css.map */
