<app-pop-up *teleport="'modalContainer'" (editMode)="reportMode.emit(false)">
  <div id="reportItem">
    <h3 class="popupTitle">{{ "Report " + reportType() }}</h3>
    <div *ngIf="reportType() === 'Post'" class="userPost">
      <div class="itemText" id="reportText">{{ reportedPost()!.text }}</div>
      <div class="itemUser">By {{ reportedPost()!.user }}</div>
    </div>
    <a
      *ngIf="reportType() === 'User'"
      id="uReportText"
      [routerLink]="['/user', reportedItem()!.id]"
      >{{ reportedUser()!.displayName }}</a
    >

    <div id="reportQ" class="popupText required">
      {{ "What is the problem with this " + reportType().toLowerCase() + "?" }}
    </div>
    <form id="reportPost" [formGroup]="reportForm">
      <div class="formElement">
        <input
          type="radio"
          class="radioButton"
          id="pRadioOption0"
          value="0"
          aria-describedby="reportQ"
          formControlName="selectedReason"
          (click)="checkSelectedForOther($event.target)"
        />
        <label class="radioButtonLabel" for="pRadioOption0">{{
          reportReasonsText[reportType()][0]
        }}</label>
      </div>
      <div class="formElement">
        <input
          type="radio"
          class="radioButton"
          id="pRadioOption1"
          value="1"
          aria-describedby="reportQ"
          formControlName="selectedReason"
          (click)="checkSelectedForOther($event.target)"
        />
        <label class="radioButtonLabel" for="pRadioOption1">{{
          reportReasonsText[reportType()][1]
        }}</label>
      </div>
      <div class="formElement">
        <input
          type="radio"
          class="radioButton"
          id="pRadioOption2"
          value="2"
          aria-describedby="reportQ"
          formControlName="selectedReason"
          (click)="checkSelectedForOther($event.target)"
        />
        <label class="radioButtonLabel" for="pRadioOption2">{{
          reportReasonsText[reportType()][2]
        }}</label>
      </div>
      <div class="formElement">
        <fieldset>
          <legend class="hidden" aria-hidden="false" id="rPostLegend">
            {{ "There's another problem with this " + reportType().toLowerCase() + ":" }}
          </legend>
          <input
            type="radio"
            class="radioButton"
            id="pRadioOption3"
            value="3"
            aria-describedby="reportQ"
            formControlName="selectedReason"
            (click)="checkSelectedForOther($event.target)"
          />
          <label class="radioButtonLabel" for="pRadioOption3">
            {{ reportReasonsText[reportType()][3] }}
          </label>
          <input
            type="text"
            placeholder="Enter the response"
            id="rOption3Text"
            aria-labelledby="rPostLegend"
            minlength="0"
            maxlength="120"
            formControlName="otherReason"
            [required]="reportForm.controls.selectedReason.value === '3'"
            [attr.aria-required]="reportForm.controls.selectedReason.value === '3'"
          />
        </fieldset>
      </div>

      <div *ngIf="reportType() === 'Post'" id="reportPText" class="labels">
        {{ "report post " + reportedPost()!.text }}
      </div>
      <button
        *ngIf="reportType() === 'Post'"
        type="submit"
        class="appButton reportButton"
        aria-labelledby="reportPText"
        (click)="createReport()"
      >
        Report Post
      </button>

      <div *ngIf="reportType() === 'User'" id="reportUText" class="labels">
        {{ "Report user " + reportedUser()!.displayName }}
      </div>
      <button
        *ngIf="reportType() === 'User'"
        type="submit"
        class="appButton reportButton"
        aria-labelledby="reportUText"
        (click)="createReport()"
      >
        Report User
      </button>
    </form>
  </div>
</app-pop-up>
