<div id="items">
	<h2 class="listTitle" id="listTitle">{{ type }} Items</h2>
	
	<app-loader
		*ngIf="isLoading()"
		[waitingFor]="waitFor"></app-loader>

	<!-- If there are items in the list -->
	<ul id="fullItems" *ngIf="posts().length > 0 && !isLoading()" role="region" aria-describedby="listTitle">
		<app-single-post  *ngFor="let item of posts()"
						 [post]="item"
						 [type]="'n'"
						 [class]="type == 'New' ? 'newItem' : 'sugItem'"></app-single-post>
	</ul>
	
	<!-- If there are no items in the list -->
	<div class="errorMessage" *ngIf="posts().length == 0 && !isLoading()">There are no posts.</div>
	
	<!-- Post pagination -->
	<div class="pagination" role="navigation">
		<button *ngIf="currentPage() > 1" class="appButton prevButton" (click)="prevPage()" [attr.aria-label]="'previous page of ' + type + ' posts'">Previous Page</button>
		<button *ngIf="currentPage() <= 1" class="appButton placeHolder">Next Page</button>
		<div class="pageCount">Page {{ currentPage() }} of {{ totalPages() }}</div>
		<button *ngIf="totalPages() > currentPage()" class="appButton nextButton" (click)="nextPage()" [attr.aria-label]="'next page of ' + type + ' posts'">Next Page</button>
		<button *ngIf="totalPages() <= currentPage()" class="appButton placeHolder">Previous Page</button>
	</div>
</div>