<div id="newItem">
	<h3>New {{ itemType }}</h3>
	
	<div id="newMessage" *ngIf="itemType == 'Message'">
		<form class="newItem">
			<div class="formElement">
				<label class="pageCategory" for="messageFor">For:</label>
				<input #messageFor type="text" id="messageFor" value="{{ user }}" readonly>
			</div>
			<div class="formElement">
				<label class="pageCategory" for="messageText">Message</label>
				<textarea #messageText id="messageText" cols="40" rows="4"></textarea>
			</div>
			<button type="submit" class="appButton sendData" (click)="sendMessage($event, messageText.value)">Send</button>
		</form>
	</div>
	
	<div id="newPost" *ngIf="itemType == 'Post'">
		<form class="newItem">
			<div class="formElement">
				<span class="pageCategory">By:</span> <span class="pageData">{{ authService.userData.displayName }}</span>
			</div>
			<div class="formElement">
				<label class="pageCategory" for="postText">Text:</label>
				<textarea #postText id="postText" cols="40" rows="4"></textarea>
			</div>
			<button type="submit" class="appButton sendData" (click)="sendPost($event, postText.value)">Post</button>
		</form>
	</div>
</div>