<div id="newItem">
	<h3 id="newTitle">New {{ itemType }}</h3>
	
	<div id="newMessage" *ngIf="itemType == 'Message'">
		<form [formGroup]="newMessageForm" class="newItem" aria-describedby="newTitle" *ngIf="this.newMessageForm.get('messageFor')?.value && forID">
			<div class="formElement">
				<label class="pageCategory" for="messageFor">For:</label>
				<input formControlName="messageFor" type="text" id="messageFor" aria-labelledby="mUser" readonly>
			</div>
			<div class="formElement">
				<label class="pageCategory required" for="messageText">Message</label>
				<br>
				<textarea
					formControlName="messageText"
					id="messageText"
					cols="40"
					rows="8"
					aria-labelledby="mText"
					class="newTextArea"
					minlength="0"
					maxlength="480"
					[attr.aria-invalid]="!this.newMessageForm.get('messageText')?.valid"
					required
					aria-required="true"
				></textarea>
			</div>
			<button type="submit" class="appButton sendData" (click)="sendMessage()">Send Message</button>
		</form>
		
		<div class="errorMessage" *ngIf="!this.newMessageForm.get('messageFor')?.value || !forID" role="alert">
			User ID and display name are required for sending a message. Please add numerical user ID and the user's display name and try again.
		</div>
	</div>
	
	<div id="newPost" *ngIf="itemType == 'Post'">
		<form [formGroup]="newPostForm" class="newItem" *ngIf="!authService.userData.blocked" aria-describedby="newTitle">
			<div class="formElement">
				<span class="pageCategory">By:</span> <span class="pageData" aria-describedby="pUser">{{ authService.userData.displayName }}</span>
			</div>
			<div class="formElement">
				<label class="pageCategory required" for="postText">Text:</label>
				<br>
				<textarea
					formControlName="postText"
					id="postText"
					cols="40"
					rows="8"
					aria-labelledby="pText"
					class="newTextArea"
					minlength="0"
					maxlength="480"
					[attr.aria-invalid]="!this.newPostForm.get('postText')?.valid"
					required
					aria-required="true"
				></textarea>
			</div>
			<button type="submit" class="appButton sendData" (click)="sendPost()">Publish Post</button>
		</form>
		
		<div class="errorMessage" *ngIf="authService.userData.blocked" role="alert">
			You are currently blocked until {{ authService.userData.releaseDate }}. You cannot post new posts.
		</div>
	</div>
	
	<div id="labels" class="labels" aria-hidden="true">
		<p id="pText">New Post Text</p>
		<p id="pUser">New Post Writer</p>
		<p id="mText">New message text</p>
		<p id="mUser">New message for user</p>
	</div>
</div>