<h2>Search Results</h2>

<app-loader
	[waitingFor]="waitFor"></app-loader>

<div *ngIf="itemsService.isSearchResolved.value">
	<div id="resultSummary">{{ itemsService.numUserResults }} users and {{ itemsService.numPostResults }} posts match your search query: "{{ searchQuery }}"</div>
	
	<h3>Users</h3>
	<ul *ngIf="itemsService.numUserResults > 0" class="searchResults">
		<li *ngFor="let user of itemsService.userSearchResults" class="searchResult">
			<a [routerLink]="['/user', user.id]">{{ user.displayName }}</a>
		</li>
	</ul>

	<div *ngIf="itemsService.numUserResults == 0" class="errorMessage">
		There are no users that match your search!
	</div>

	<h3>Posts</h3>
	<div *ngIf="itemsService.numPostResults > 0">
		<ul class="searchResults">
			<li *ngFor="let item of itemsService.postSearchResults" class="searchResult">
				<div class="itemText">{{ item.text }}</div>
				<div class="itemUser">By <a [routerLink]="['/user', item.userId ]" class="profileLink">{{ item.user }}</a> </div>
				<div class="buttonsContainer">
					<div class="notification">
						<button class="appButton hugButton" (click)="sendHug(item.id)"><i class="fab fa-gratipay"></i></button>
						<span class="badge">{{ item.givenHugs }}</span>
					</div>
					<a [routerLink]="['/new', 'Message']" [queryParams]="{user: item.user, userID: item.userId}" class="appButton messageButton"><i class="fas fa-comments"></i></a>
					<button class="appButton reportButton" (click)="reportPost(item)"><i class="fas fa-flag"></i></button>
					<button *ngIf="authService.canUser('patch:any-post')" class="appButton editButton" (click)="editPost(item)"><i class="far fa-edit"></i></button>
					<button *ngIf="authService.canUser('delete:any-post')" class="appButton deleteButton" (click)="deletePost(item.id)"><i class="fas fa-times"></i></button>
				</div>
			</li>
		</ul>

	<!-- Post pagination -->
		<div class="pagination">
			<button *ngIf="itemsService.postSearchPage > 1" class="appButton prevButton" (click)="prevPage()">Previous Page</button>
			<button *ngIf="itemsService.postSearchPage <= 1" class="appButton hidden" (click)="prevPage()">Previous Page</button>
			<div class="pageCount">Page {{ itemsService.postSearchPage }} of {{ itemsService.totalPostSearchPages }}</div>
			<button *ngIf="itemsService.totalPostSearchPages > itemsService.postSearchPage" class="appButton nextButton" (click)="nextPage()">Next Page</button>
			<button *ngIf="itemsService.totalPostSearchPages <= itemsService.postSearchPage" class="appButton hidden" (click)="nextPage()">Next Page</button>
		</div>
	</div>


	<div *ngIf="itemsService.numPostResults == 0" class="errorMessage">
		There are no posts that match your search!
	</div>
</div>


<app-pop-up *ngIf="editMode"
			[editedItem]="postToEdit"
			[toEdit]="editType"
			(editMode)="changeMode($event)"
			[delete]="delete"
			[toDelete]="toDelete"
			[itemToDelete]="itemToDelete"
			[report]="report"
			[reportedItem]="reportedItem"></app-pop-up>