<form [formGroup]="editNameForm" id="userEdit" class="userEdit">
  <div class="formElement">
    <label class="pageCategory required" for="displayName">Display Name:</label>
    <input 
      formControlName="newDisplayName"
      type="text"
      id="displayName"
      minlength="0"
      maxlength="60"
      required
      [attr.aria-invalid]="!this.editNameForm.get('newDisplayName')?.valid"
      aria-required="true">
  </div>

  <!-- If the user is editing their own display name -->
  <button
    *ngIf="toEdit == 'user'"
    type="submit"
    class="appButton updateItem"
    (click)="updateDisplayName($event, null)"
    [attr.aria-label]="'update display name for user ' + authService.userData.displayName">
      Update User
  </button>

  <!-- If the user is editing another user -->
  <button
    *ngIf="toEdit == 'other user'"
    (click)="updateDisplayName($event, true)"
    type="submit"
    class="appButton updateItem">
      Update User and Close Report
  </button>
  <button
    *ngIf="toEdit == 'other user'"
    (click)="updateDisplayName($event, false)"
    type="submit"
    class="appButton updateItem">
      Update User without Closing Report
  </button>
</form>
