<div *ngIf="isLoading()" id="loaderDiv">
  <app-loader [loadingMessage]="'Getting blocked users...'"></app-loader>
</div>

<div *ngIf="!isLoading()" class="adminScreen" id="adminBlocks" role="main">
  <h2 class="subTitle">Block User</h2>
  <!-- Block a user by ID -->
  <form [formGroup]="blockForm">
    <div class="formElement">
      <label class="pageCategory required" for="blockID">User I.D.: </label>
      <input
        type="text"
        id="blockID"
        placeholder="user I.D."
        required
        minlength="1"
        aria-required="true"
        formControlName="blockID"
        [attr.aria-invalid]="!this.blockForm.controls.blockID.valid"
      />
    </div>
    <div class="formElement">
      <label class="pageCategory" for="blockLength">Length of block time: </label>
      <select id="blockLength" name="blockLength" required formControlName="blockLength">
        <option value="oneDay">One Day</option>
        <option value="oneWeek">One Week</option>
        <option value="oneMonth">30 Days</option>
        <option value="forever">Permanently</option>
      </select>
    </div>
    <button type="submit" class="appButton sendData" (click)="block()">Block User</button>
  </form>

  <h2 class="subTitle">Blocked Users</h2>
  <!-- Blocked users table -->
  <div *ngIf="blockedUsers().length" class="tableContainer">
    <table>
      <thead>
        <tr>
          <th scope="col">User I.D.</th>
          <th scope="col">Display Name</th>
          <th scope="col">Blocked Until</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of blockedUsers()">
          <td aria-describedby="bUserID">{{ user.id }}</td>
          <td id="{{ 'user' + user.id }}" aria-describedby="bUserDisplay">
            {{ user.displayName }}
          </td>
          <td [attr.aria-describedby]="'user' + user.id + ' bUntil'">{{ user.releaseDate }}</td>
          <td>
            <span id="{{ 'unblock' + user.id }}" class="labels">{{
              "unblock user " + user.displayName
            }}</span>
            <button
              class="appButton adminButton"
              [attr.aria-labelledby]="'unblock' + user.id"
              (click)="unblock(user.id)"
            >
              Unblock User
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Blocked users pagination -->
  <div *ngIf="blockedUsers().length" class="pagination" role="navigation">
    <button
      aria-label="previous page of blocked users"
      [ngClass]="previousButtonClass()"
      [disabled]="currentPage() <= 1"
      (click)="prevPage()"
    >
      Previous Page
    </button>
    <div class="pageCount">Page {{ currentPage() }} of {{ totalPages() }}</div>
    <button
      aria-label="next page of blocked users"
      [ngClass]="nextButtonClass()"
      [disabled]="totalPages() <= currentPage()"
      (click)="nextPage()"
    >
      Next Page
    </button>
  </div>

  <!-- If there are no blocked users -->
  <div *ngIf="!blockedUsers().length" class="errorMessage">There are no blocked users.</div>
</div>
