<!-- Frequently asked questions -->
<h3>Frequently Asked Questions</h3>
<ul>
	<li *ngFor="let question of faq">
		<div class="pageCategory">{{ question.question }}</div>
		<div class="pageData" aria-describedby="userName userRole">{{ question.answer }}</div>
	</li>
</ul>

<h3>Any Questions / Issues?</h3>
<div>Have any other question? Found a bug or an issue that you need help with? Have a feature you want to request?</div>
<div>Feel free to contact us! You can do it either by email, at <a href="mailto:sendahugcom@gmail.com">sendahugcom@gmail.com</a>, or on <a href="https://github.com/sendahug/send-hug-frontend/issues" target="_blank" rel="noreferrer">GitHub</a>. Please make sure to include as many details about the question, bug, issue or feature so that we can help you as soon as possible.</div>