<li class="{{containerClass}}" aria-describedby="newTitle" role="article">
	<div class="itemText" aria-describedby="pText" id="{{ postId() }}">{{ post.text }}</div>
	<div class="itemUser">By <a [routerLink]="['/user', post.userId ]" class="profileLink" aria-describedby="pUser" id="{{ type + 'User' + post.id }}">{{ post.user }}</a> </div>
	<div [ngClass]="buttonsContainerClass()">
		<div class="notification" [attr.aria-describedby]="'pHug ' + type + 'User' + post.id">
			<!-- TODO: Check why we're checking for strings -->
			<!-- TODO: Also move these checks to the component -->
			<button
				[class]="(post.sentHugs.includes(authService.userData.id.toString()) || !authService.authenticated) ? 'textlessButton hugButton active' : 'textlessButton hugButton'"
				(click)="sendHug()"
				[attr.aria-labelledby]="'pHug ' + type + 'User' + post.id"
				name="send a hug"
				[disabled]="post.sentHugs.includes(authService.userData.id.toString()) || !authService.authenticated"
			>
				<fa-icon [icon]="faHandHoldingHeart" class="fa-hand-holding-heart"></fa-icon>
			</button>
			<span class="badge" aria-describedby="pGivenH">{{ post.givenHugs }}</span>
		</div>
		<button [ngClass]="menuButtonClass()" [attr.aria-labelledby]="'pOptions ' + type + 'Post' + post.id" name="post options" (click)="toggleOptions()"><fa-icon [icon]="faEllipsisV" class="fa-comment"></fa-icon></button>
		<div [ngClass]="subMenuClass()">
			<a [routerLink]="['/new', 'Message']" [queryParams]="{user: post.user, userID: post.userId}" class="textlessButton messageButton" [attr.aria-labelledby]="'pMessage ' + type + 'User' + post.id" name="send a message"><fa-icon [icon]="faComment" class="fa-comment"></fa-icon></a>
			<button class="textlessButton reportButton" (click)="reportPost()" [attr.aria-labelledby]="'pReport ' + type +  'Post' + post.id" name="report"><fa-icon [icon]="faFlag" class="fa-flag"></fa-icon></button>
			<button *ngIf="authService.canUser('patch:any-post')" class="textlessButton editButton" (click)="editPost()" [attr.aria-labelledby]="'pEdit ' + type + 'Post' + post.id"><fa-icon [icon]="faEdit" class="fa-edit"></fa-icon></button>
			<button *ngIf="authService.canUser('delete:any-post')" class="textlessButton deleteButton" (click)="deletePost()" [attr.aria-labelledby]="'pDelete ' + type + 'Post' + post.id"><fa-icon [icon]="faTimes" class="fa-times"></fa-icon></button>
		</div>
	</div>
</li>

<app-pop-up *ngIf="editMode"
			[editedItem]="postToEdit"
			[toEdit]="editType"
			(editMode)="changeMode($event)"
			[delete]="delete"
			[toDelete]="toDelete"
			[itemToDelete]="itemToDelete"
			[report]="report"
			[reportedItem]="reportedItem"
			[reportType]="reportType"></app-pop-up>