<app-pop-up *teleport="'modalContainer'" (editMode)="editMode.emit(false)">
  <form id="userEdit" class="userEdit" [formGroup]="resetForm">
    <div class="formElement">
      <label class="pageCategory required" for="username">Username:</label>
      <input
        formControlName="username"
        type="email"
        id="username"
        required
        aria-required="true"
        [attr.aria-invalid]="!resetForm.controls.username.valid"
      />
    </div>

    <button
      type="submit"
      class="appButton updateItem"
      [attr.aria-label]="'get password reset link for user ' + resetForm.controls.username.value"
      (click)="resetPassword()"
    >
      Get Password Reset Link
    </button>
  </form>
</app-pop-up>
