<div *ngIf="isLoading()" id="loaderDiv">
  <app-loader [loadingMessage]="'Getting filtered phrases...'"></app-loader>
</div>

<div *ngIf="!isLoading()" class="adminScreen" id="adminFilters" role="main">
  <h2 class="subTitle">Add Filter</h2>
  <!-- Add a word/phrase to filtered words list -->
  <form [formGroup]="addFilterForm">
    <div class="formElement">
      <label class="pageCategory required" for="filter">Filter: </label>
      <input
        type="text"
        id="filter"
        placeholder="Filter"
        required
        minlength="1"
        aria-required="true"
        formControlName="filter"
        [attr.aria-invalid]="!this.addFilterForm.controls.filter.valid"
      />
    </div>
    <button type="submit" class="appButton sendData" (click)="addFilter()">Add Filter</button>
  </form>

  <h2 class="subTitle">Filtered Phrases</h2>
  <!-- Filtered phrases table -->
  <div *ngIf="filteredPhrases().length" class="tableContainer">
    <table>
      <thead>
        <tr>
          <th scope="col">Phrase</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let phrase of filteredPhrases()">
          <td id="{{ phrase.filter }}" aria-describedby="filteredP">{{ phrase.filter }}</td>
          <td>
            <span id="{{ 'f_' + phrase.id }}" class="labels">{{
              "Remove filter " + phrase.filter
            }}</span>
            <button
              class="appButton adminButton"
              [attr.aria-labelledby]="'f_' + phrase.id"
              (click)="removeFilter(phrase.id)"
            >
              Remove Filter
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Filtered words pagination -->
  <div *ngIf="filteredPhrases().length" class="pagination" role="navigation">
    <button
      aria-label="previous page of filtered phrases"
      [ngClass]="previousButtonClass()"
      [disabled]="currentPage() <= 1"
      (click)="prevPage()"
    >
      Previous Page
    </button>
    <div class="pageCount">Page {{ currentPage() }} of {{ totalPages() }}</div>
    <button
      aria-label="next page of filtered phrases"
      [ngClass]="nextButtonClass()"
      [disabled]="totalPages() <= currentPage()"
      (click)="nextPage()"
    >
      Next Page
    </button>
  </div>

  <!-- If there are no filtered phrases -->
  <div *ngIf="!filteredPhrases().length" class="errorMessage">There are no filtered phrases.</div>
</div>
